
<div class="form-group">
  <label class="custom-label form-label">Residential
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="residentialID" [disabled]="disabled" name="residentialID" maxlength="50">
        <ng-option *ngFor="let residential of residentialsAll" [value]="residential.id" [disabled]="disabled">
          {{ residential.code }} - {{ residential.description }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="residentialID" [disabled]="disabled" name="residentialID" maxlength="50">
        <ng-option *ngFor="let residential of residentials" [value]="residential.id" [disabled]="disabled">
          {{ residential.code }} - {{ residential.description }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="residentialGet()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

