<div *ngIf="view==1" class="form-group">
    <label class="custom-label form-label">Login User
        <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row">
        <div class="col-md-10" *ngIf="disabled==true">
            <ng-select [(ngModel)]="userID" [disabled]="disabled" name="userID" (change)="onChange($event)">
                <ng-option *ngFor="let loginuser of loginusersAll" [value]="loginuser.user_ID">
                    {{ loginuser.user_NAME }} - {{ loginuser.username }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-10" *ngIf="disabled==false">
            <ng-select [(ngModel)]="userID" [disabled]="disabled" name="userID" (change)="onChange($event)">
                <ng-option *ngFor="let loginuser of loginusers" [value]="loginuser.user_ID">
                    {{ loginuser.user_NAME }} - {{ loginuser.username }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="loginuserGet()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div *ngIf="view==2" class="form-group">
    <div class="outer-div">
        <div class="grid-wrapper">
            <dx-data-grid #grid id="gridContainer" [dataSource]="loginusersAll" keyExpr="user_ID"
                [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
                height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center" cellTemplate="cellTemplate"></dxi-column>
                <dxi-column dataField="username" caption="Username" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="user_NAME" caption="Name" cssClass="myClass" alignment="left"></dxi-column>
                <dxi-column dataField="employee.employee_NO" caption="Employee" cssClass="myClass"alignment="center"></dxi-column>
                <dxi-column dataField="last_LOGIN" caption="Last Login" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="email" caption="Email" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="enabled" caption="Enabled" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="accountNonExpired" caption="Non Expired" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="accountNonLocked" caption="Non Locked" cssClass="myClass" alignment="left"></dxi-column>
                <dxi-column dataField="credentialsNonExpired" caption="Credentials" cssClass="myClass"></dxi-column>
                <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center">
                </dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:void" class="" (click)="showView(data)">
                        <i class="fa fa-eye" aria-hidden="true"></i></a>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>

<div *ngIf="view==3" class="form-group">
    <form action="" class="form" (ngSubmit)="f.form.valid && loginuserAdd(loginuser)" #f="ngForm" novalidate>
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add New University
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"> ×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Username <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="username"
                                    [(ngModel)]="loginuser.username" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="user_NAME"
                                    [(ngModel)]="loginuser.user_NAME" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Email <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="loginuser.email"
                                    maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Last Login <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="last_LOGIN"
                                    [(ngModel)]="loginuser.last_LOGIN" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="view==4" class="form-group">
    <form action="" class="form" (ngSubmit)="f.form.valid && loginuserUpdate(loginuser)" #f="ngForm" novalidate>
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit University
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"> ×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Username <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="username"
                                    [(ngModel)]="loginuser.username" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="user_NAME"
                                    [(ngModel)]="loginuser.user_NAME" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Email <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="loginuser.email"
                                    maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Last Login <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="last_LOGIN"
                                    [(ngModel)]="loginuser.last_LOGIN" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="loginuser.isactive"
                                            [(ngModel)]="loginuser.isactive" name="isactive">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                        <i class="fa fa-plus" aria-hidden="true"></i> Update
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="view==5" class="fcorm-group">
    <div class="card-primary card">
        <div class="card-header">
            <div class="align-items-center row">
                <div class="col" *ngIf="loginuser.user_ID==0">
                    <a href="javascript:void" aria-controls="collapse-loginuserinfo1" aria-expanded="true"
                        class="card-title">Add New Login User
                    </a>
                </div>
                <div class="col" *ngIf="loginuser.user_ID!=0 && disabled==false">
                    <a href="javascript:void" aria-controls="collapse-loginuserinfo1" aria-expanded="true"
                        class="card-title">Edit Login User
                    </a>
                </div>
                <div class="col" *ngIf="loginuser.user_ID!=0 && disabled==true">
                    <a href="javascript:void" aria-controls="collapse-loginuserinfo1" aria-expanded="true"
                        class="card-title">Login User Detail
                    </a>
                </div>                                                                                                                                                                                                                                                                   
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Username <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="username"
                                    [(ngModel)]="loginuser.username" maxlength="50" [disabled]="disabled"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="user_NAME"
                                    [(ngModel)]="loginuser.user_NAME" maxlength="50" [disabled]="disabled"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Email <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="loginuser.email"
                                    maxlength="50" [disabled]="disabled" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Last Login <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="last_LOGIN"
                                    [(ngModel)]="loginuser.last_LOGIN" maxlength="50" [disabled]="disabled"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" *ngIf="loginuser.user_ID!=0">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="loginuser.isactive"
                                            [(ngModel)]="loginuser.isactive" [disabled]="disabled" name="isactive">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="float-right">
                                <button *ngIf="loginuser.user_ID!=0 && disabled==true" (click)="loginuserEdit()"
                                    id="cancel" class="btn btn-primary" style="float: right;"> Edit
                                </button>
                                <button *ngIf="disabled==false" type="button" (click)='loginuserCancel()'
                                    style="float: right;" class="btn btn-light" data-dismiss="modal"> Cancel
                                </button>
                                <button *ngIf="loginuser.user_ID!=0 && disabled==false" type="button"
                                    data-dismiss="modal" style=" margin-right: 10px; float: right;"
                                    (click)='loginuserUpdate(loginuser)' class="btn btn-primary">
                                    Update
                                </button>
                                <button *ngIf="loginuser.user_ID==0" type="button" data-dismiss="modal"
                                    style=" margin-right: 10px; float: right;" (click)='loginuserAdd(loginuser)'
                                    class="btn btn-primary">
                                    Save
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>