<div *ngIf="view==1" class="form-group">
  <label class="custom-label form-label">Person Equality
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personlanguageID" [disabled]="disabled" name="personlanguageID" (change)="onChange($event)">
        <ng-option *ngFor="let personlanguage of personlanguages" [value]="personlanguage.personlanguage_ID"
          [disabled]="disabled">
          {{ personlanguage.person_ID }} - {{ personlanguage.language_ID }} - {{ personlanguage.nationality_ID}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="personlanguageGet()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==11" class="form-group">
  <label class="custom-label form-label"> Person Equality
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row">
    <div class="col-md-10" *ngIf="disabled==true">
      <ng-select [(ngModel)]="personlanguageID" [disabled]="disabled" name="personlanguageID" (change)="onChange($event)">
        <ng-option *ngFor="let personlanguage of personlanguages" [value]="personlanguage.personlanguage_ID"
          [disabled]="disabled">
          {{ personlanguage.person_ID }} - {{ personlanguage.language_ID }} - {{ personlanguage.nationality_ID}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled"
        (click)="personlanguageAdvancedSearch(ngOnInit)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==2" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="personlanguagesAll" keyExpr="personlanguage_ID"
        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
        height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>

        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"></dxi-column>
        <dxi-column dataField="person.forenames" caption="Forenames" cssClass="myClass" alignment="left"
          [allowEditing]="false"></dxi-column>
        <dxi-column dataField="language_ID.description" caption="Religion" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="fluency_ID.description" caption="Ethnic" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="competency_ID.description" caption="Gender" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="comments" caption="Comments" cssClass="myClass" alignment="center"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center">
        </dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="update(data)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && personlanguageAdd(personlanguage)" #f="ngForm" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <app-language #language [languageID]=personlanguage.language_ID.id [iscompulsory]="true"></app-language>
        </div>
        <div class="col-md-6">
          <app-fluency #fluency [fluencyID]=personlanguage.fluency_ID.id [iscompulsory]="true"></app-fluency>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-competency #competency [competencyID]=personlanguage.competency_ID.id
            [iscompulsory]="true"></app-competency>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Comments</label>
            <input type="input" class="form-control" name="comments" [(ngModel)]="personlanguage.comments">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        <i class="fa fa-plus" aria-hidden="true"></i> Add
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && personlanguageUpdate(personlanguage)" #f="ngForm" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <app-language #language [languageID]=personlanguage.language_ID.id [iscompulsory]="true"></app-language>
        </div>
        <div class="col-md-6">
          <app-fluency #fluency [fluencyID]=personlanguage.fluency_ID.id [iscompulsory]="true"></app-fluency>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-competency #competency [competencyID]=personlanguage.competency_ID.id
            [iscompulsory]="true"></app-competency>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Comments</label>
            <input type="input" class="form-control" name="comments" [(ngModel)]="personlanguage.comments">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                <input type="checkbox" [checked]="personlanguage.isactive" [(ngModel)]="personlanguage.isactive"
                  name="isactive">
                Active
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        <i class="fa fa-plus" aria-hidden="true"></i> Update
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </form>
</div>

<div *ngIf="view==5" class="form-group">
  <div class="card-primary card">
    <div class="card-header">
      <div class="align-items-center row">
        <div class="col" *ngIf="personlanguage.personlanguage_ID==0">
          <a href="javascript:void" aria-controls="collapse-personlanguageinfo1" aria-expanded="true"
            class="card-title">Add New Language
          </a>
        </div>
        <div class="col" *ngIf="personlanguage.personlanguage_ID!=0 && disabled==false">
          <a href="javascript:void" aria-controls="collapse-personlanguageinfo1" aria-expanded="true"
            class="card-title"> Edit Language
          </a>
        </div>
        <div class="col" *ngIf="personlanguage.personlanguage_ID!=0 && disabled==true">
          <a href="javascript:void" aria-controls="collapse-personlanguageinfo1" aria-expanded="true"
            class="card-title">Language Detail
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-6">
              <app-language #language [languageID]="personlanguage.language_ID.id" [disabled]="disabled"></app-language>
            </div>
            <div class="col-md-6">
              <app-fluency #fluency [fluencyID]="personlanguage.fluency_ID.id" [disabled]="disabled"></app-fluency>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <app-competency #competency [competencyID]="personlanguage.competency_ID.id"
                [disabled]="disabled"></app-competency>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Comments </label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="text" class="form-control" name="comments" length="50"
                  [(ngModel)]="personlanguage.comments" [disabled]="disabled" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" *ngIf="personlanguage.personlanguage_ID!=0">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="personlanguage.isactive" [(ngModel)]="personlanguage.isactive"
                      [disabled]="disabled" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button *ngIf="personlanguage.personlanguage_ID!=0 && disabled==true" (click)="editView()" id="cancel"
                class="btn btn-primary" style="float: right;"> Edit
              </button>
              <button *ngIf="disabled==false" type="button" (click)='cancelView()' style="float: right;"
                class="btn btn-light" data-dismiss="modal"> Cancel
              </button>
              <button *ngIf="personlanguage.personlanguage_ID!=0 && disabled==false" type="button" data-dismiss="modal"
                style=" margin-right: 10px; float: right;" (click)='personlanguageUpdate(personlanguage)'
                class="btn btn-primary">
                Update
              </button>
              <button *ngIf="personlanguage.personlanguage_ID==0" type="button" data-dismiss="modal"
                style=" margin-right: 10px; float: right;" (click)='personlanguageAdd(personlanguage)'
                class="btn btn-primary">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
