<div *ngIf="view==1" class="form-group">
  <label class="custom-label form-label">Qualification
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="qualificationID" [disabled]="disabled" name="qualificationID" (change)="onChange($event)">
        <ng-option *ngFor="let qualification of qualificationsAll" [value]="qualification.qualification_ID">
          {{ qualification.qualification_CODE }} - {{ qualification.qualification_NAME }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="qualificationID" name="qualificationID" (change)="onChange($event)">
        <ng-option *ngFor="let qualification of qualifications" [value]="qualification.qualification_ID"
          [disabled]="disabled">
          {{ qualification.qualification_CODE }} - {{ qualification.qualification_NAME }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==10" class="form-group">
  <label class="custom-label form-label">Qualification
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="qualificationID" [disabled]="disabled" name="qualificationID" (change)="onChange($event)">
        <ng-option *ngFor="let qualification of qualificationsAll" [value]="qualification.qualification_ID">
          {{ qualification.qualification_CODE }} - {{ qualification.qualification_NAME }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="qualificationID" name="qualificationID" (change)="onChange($event)">
        <ng-option *ngFor="let qualification of qualificationsAll" [value]="qualification.qualification_ID"
          [disabled]="disabled">
          {{ qualification.qualification_CODE }} - {{ qualification.qualification_NAME }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==11" class="form-group">
  <label class="custom-label form-label">Qualification
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="qualificationID" [disabled]="disabled" name="qualificationID">
        <ng-option *ngFor="let qualification of qualificationsAll" [value]="qualification.qualification_ID"
          [disabled]="disabled">
          {{ qualification.qualification_CODE }} - {{ qualification.qualification_NAME }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="qualificationID" [disabled]="disabled" name="qualificationID" (change)="onChange($event)">
        <ng-option *ngFor="let qualification of qualifications" [value]="qualification.qualification_ID"
          [disabled]="disabled">
          {{ qualification.qualification_CODE }} - {{ qualification.qualification_NAME }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==19" class="form-group">
  <label class="custom-label form-label">Qualification
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="qualificationID" [disabled]="disabled" name="qualificationID" (change)="onChange($event)">
        <ng-option *ngFor="let qualification of qualificationsAll" [value]="qualification.qualification_ID"
          [disabled]="disabled">
          {{ qualification.qualification_CODE }} - {{ qualification.qualification_NAME }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="qualificationID" [disabled]="disabled" name="qualificationID" (change)="onChange($event)">
        <ng-option *ngFor="let qualification of qualificationsAll" [value]="qualification.qualification_ID"
          [disabled]="disabled">
          {{ qualification.qualification_CODE }} - {{ qualification.qualification_NAME }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==2" class="form-group">
  <div class="row">
    <div class="col-lg-12">
      <div class="outer-div">
        <div class="grid-wrapper">
          <dx-data-grid #grid id="gridContainer" [dataSource]="qualificationsAll" keyExpr="qualification_ID"
            [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
            [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
            height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
              cellTemplate="cellTemplate"> </dxi-column>
            <dxi-column [width]="150" dataField="qualification_CODE" caption="Code" cssClass="myClass"
              alignment="center"> </dxi-column>
            <dxi-column dataField="qualification_NAME" caption="Name" cssClass="myClass">
            </dxi-column>
            <dxi-column dataField="qualification_DESCRIPTION" caption="Description" cssClass="myClass">
            </dxi-column>
            <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
              alignment="center"></dxi-column>

            <div *dxTemplate="let data of 'cellTemplate'">
              <a href="javascript:void" class="" (click)="update(data)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </div>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && qualificationAdd(qualification)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New Qualification
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Qualification Code</label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="text" class="form-control" name="qualification_CODE" maxlength="50"
                  [(ngModel)]="qualification.qualification_CODE" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Qualification Name </label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="text" class="form-control" name="qualification_NAME" length="50"
                  [(ngModel)]="qualification.qualification_NAME" required />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Qualification Description </label>
                <textarea rows="3" type="textarea" class="form-control" name="qualification_DESCRIPTION" length="500"
                  [(ngModel)]="qualification.qualification_DESCRIPTION"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && qualificationUpdate(qualification)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Qualification
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Qualification CODE</label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="text" class="form-control" name="qualification_CODE" maxlength="50"
                  [(ngModel)]="qualification.qualification_CODE" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Qualification Name </label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="text" class="form-control" name="qualification_NAME" maxlength="50"
                  [(ngModel)]="qualification.qualification_NAME" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Qualification Description</label>
                <textarea rows="3" type="textarea" class="form-control" name="qualification_DESCRIPTION" maxlength="500"
                  [(ngModel)]="qualification.qualification_DESCRIPTION"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="qualification.isactive" [(ngModel)]="qualification.isactive"
                      name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Update
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
