<div *ngIf="view==1" class="form-group">
    <label class="custom-label form-label"> Mail Message Recipient
        <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row">
        <div class="col-md-10" *ngIf="disabled==true">
            <ng-select [(ngModel)]="mailmessagerecipientID" [disabled]="disabled" name="mailmessagerecipientID">
                <ng-option *ngFor="let loginusermailmessagerecipient of loginusermailmessagerecipientsAll" [value]="loginusermailmessagerecipient.mailmessagerecipient_ID">
                    {{ loginusermailmessagerecipient.mailmessagerecipient_ASTYPE }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-10" *ngIf="disabled==false">
            <ng-select [(ngModel)]="mailmessagerecipientID" [disabled]="disabled" name="mailmessagerecipientID">
                <ng-option *ngFor="let loginusermailmessagerecipient of loginusermailmessagerecipients" [value]="loginusermailmessagerecipient.mailmessagerecipient_ID">
                    {{ loginusermailmessagerecipient.mailmessagerecipient_ASTYPE }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="loginusermailmessagerecipientGet()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div *ngIf="view==11" class="form-group">
    <label class="custom-label form-label"> Mail Message Recipient
        <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row">
        <div class="col-md-10" *ngIf="disabled==true">
            <ng-select [(ngModel)]="mailmessagerecipientID" [disabled]="disabled" name="mailmessagerecipientID">
                <ng-option *ngFor="let loginusermailmessagerecipient of loginusermailmessagerecipientsAll" [value]="loginusermailmessagerecipient.mailmessagerecipient_ID">
                    {{ loginusermailmessagerecipient.mailmessagerecipient_ASTYPE }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-10" *ngIf="disabled==false">
            <ng-select [(ngModel)]="mailmessagerecipientID" [disabled]="disabled" name="mailmessagerecipientID">
                <ng-option *ngFor="let loginusermailmessagerecipient of loginusermailmessagerecipients" [value]="loginusermailmessagerecipient.mailmessagerecipient_ID">
                    {{ loginusermailmessagerecipient.mailmessagerecipient_ASTYPE }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled"
                (click)="loginusermailmessagerecipientAdvancedSearch(mailmessageID)">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div *ngIf="view==2" class="form-group">
    <div class="outer-div">
        <div class="grid-wrapper">
            <dx-data-grid #grid id="gridContainer" [dataSource]="loginusermailmessagerecipientsAll" keyExpr="mailmessagerecipient_ID"
                [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
                height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
                    cellTemplate="cellTemplate"></dxi-column>
                <dxi-column dataField="mailmessage.mailmessage_SUBJECT" caption="Subject" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="user.username" caption="User" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="mailmessagerecipient_ASTYPE" caption="As Type Recipient" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="isread" caption="Read" cssClass="myClass" alignment="left"></dxi-column>
                <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:void" class="" (click)="update(data)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>

<div *ngIf="view==22" class="form-group">
    <div class="outer-div">
        <div class="grid-wrapper">
            <dx-data-grid #grid id="gridContainer" [dataSource]="loginusermailmessagerecipientsAll" keyExpr="mailmessagerecipient_ID"
            [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
            [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
            height="600" width="100%" (onToolbarPreparing)="onToolbarPreparingAdvanced($event)">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
                cellTemplate="cellTemplate"></dxi-column>
                <dxi-column dataField="mailmessage.mailmessage_SUBJECT" caption="Subject" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="user.username" caption="User" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="mailmessagerecipient_ASTYPE" caption="As Type Recipient" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="isread" caption="Read" cssClass="myClass" alignment="left"></dxi-column>
                <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:void" class="" (click)="update(data)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>

<div *ngIf="view==3" class="form-group">
    <form action="" class="form" (ngSubmit)="f.form.valid && loginusermailmessagerecipientAdd(loginusermailmessagerecipient)" #f="ngForm" novalidate>
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalMessage">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add New Mail Message Recipient
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"> ×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <app-loginusermailmessage #addloginusermailmessage [view]="1" ></app-loginusermailmessage>
                        </div>
                        <div class="col-md-6">
                            <app-loginuser #addloginuser [view]="1" ></app-loginuser>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">As Type Recipient <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="mailmessagerecipient_ASTYPE"
                                    [(ngModel)]="loginusermailmessagerecipient.mailmessagerecipient_ASTYPE" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="view==4" class="form-group">
    <form action="" class="form" (ngSubmit)="f.form.valid && loginusermailmessagerecipientUpdate(loginusermailmessagerecipient)" #f="ngForm" novalidate>
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalMessage">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Mail Message Recipient
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"> ×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <app-loginusermailmessage #editloginusermailmessage [view]="1" [mailmessageID]="loginusermailmessagerecipient.mailmessage_ID"></app-loginusermailmessage>
                        </div>
                        <div class="col-md-6">
                            <app-loginuser #editloginuser [view]="1" [userID]="loginusermailmessagerecipient.user_ID"></app-loginuser>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">As Type Recipient <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="mailmessagerecipient_ASTYPE"
                                    [(ngModel)]="loginusermailmessagerecipient.mailmessagerecipient_ASTYPE" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="loginusermailmessagerecipient.isactive"
                                            [(ngModel)]="loginusermailmessagerecipient.isactive" name="isactive">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                        <i class="fa fa-plus" aria-hidden="true"></i> Update
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="view==5" class="form-group">
    <div class="card-primary card">
        <div class="card-header">
            <div class="align-items-center row">
                <div class="col" *ngIf="loginusermailmessagerecipient.mailmessagerecipient_ID==0">
                    <a href="javascript:void" aria-controls="collapse-loginusermailmessagerecipientinfo1" aria-expanded="true"
                        class="card-title">Add New Mail Message Recipient
                    </a>
                </div>
                <div class="col" *ngIf="loginusermailmessagerecipient.mailmessagerecipient_ID!=0 && disabled==false">
                    <a href="javascript:void" aria-controls="collapse-loginusermailmessagerecipientinfo1" aria-expanded="true"
                        class="card-title">Edit Mail Message Recipient
                    </a>
                </div>
                <div class="col" *ngIf="loginusermailmessagerecipient.mailmessagerecipient_ID!=0 && disabled==true">
                    <a href="javascript:void" aria-controls="collapse-loginusermailmessagerecipientinfo1" aria-expanded="true"
                        class="card-title">Mail Message Recipient Detail
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-4">
                            <app-loginusermailmessage #loginusermailmessage [view]="1" [iscompulsory]=true [disabled]="disabled" [mailmessageID]="loginusermailmessagerecipient.mailmessage_ID"></app-loginusermailmessage>
                        </div>
                        <div class="col-md-4">
                            <app-loginuser #loginuser [view]="1" [iscompulsory]=true [disabled]="disabled" [userID]="loginusermailmessagerecipient.user_ID"></app-loginuser>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> As Type Recipient <span style="color:red"
                                        [hidden]="disabled">*</span></label>
                                <input type="text" class="form-control" name="mailmessagerecipient_ASTYPE" [disabled]="disabled"
                                    [(ngModel)]="loginusermailmessagerecipient.mailmessagerecipient_ASTYPE" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" *ngIf="loginusermailmessagerecipient.mailmessagerecipient_ID!=0">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="loginusermailmessagerecipient.isactive"
                                            [(ngModel)]="loginusermailmessagerecipient.isactive" [disabled]="disabled" name="isactive">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button *ngIf="loginusermailmessagerecipient.mailmessagerecipient_ID!=0 && disabled==true" (click)="editView()" id="cancel"
                                class="btn btn-primary" style="float: right;"> Edit
                            </button>
                            <button *ngIf="disabled==false" type="button" (click)='loginusermailmessagerecipientCancel()'
                                style="float: right;" class="btn btn-light" data-dismiss="modal"> Cancel
                            </button>
                            <button *ngIf="loginusermailmessagerecipient.mailmessagerecipient_ID!=0 && disabled==false" type="button" data-dismiss="modal"
                                style=" margin-right: 10px; float: right;" (click)='loginusermailmessagerecipientUpdate(loginusermailmessagerecipient)'
                                class="btn btn-primary">
                                Update
                            </button>
                            <button *ngIf="loginusermailmessagerecipient.mailmessagerecipient_ID==0" type="button" data-dismiss="modal"
                                style=" margin-right: 10px; float: right;" (click)='loginusermailmessagerecipientAdd(loginusermailmessagerecipient)'
                                class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>