<div *ngIf="view==1" class="form-group">
  <label class="custom-label form-label">Document
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="persondocumentID" [disabled]="disabled" name="persondocumentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let persondocument of persondocumentsAll" [value]="persondocument.persondocument_ID"
          [disabled]="disabled">
          {{persondocument.persondocument_CODE}} - {{persondocument.persondocumenttype_DESCRIPTION}}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="persondocumentID" [disabled]="disabled" name="persondocumentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let persondocument of persondocuments" [value]="persondocument.persondocument_ID"
          [disabled]="disabled">
          {{persondocument.persondocument_CODE}} - {{persondocument.persondocumenttype_DESCRIPTION}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>


<div *ngIf="view==10" class="form-group">
  <label class="custom-label form-label">Document
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="persondocumentID" [disabled]="disabled" name="persondocumentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let persondocument of persondocumentsAll" [value]="persondocument.persondocument_ID"
          [disabled]="disabled">
          {{persondocument.persondocument_CODE}} - {{persondocument.persondocumenttype_DESCRIPTION}}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="persondocumentID" [disabled]="disabled" name="persondocumentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let persondocument of persondocumentsAll" [value]="persondocument.persondocument_ID"
          [disabled]="disabled">
          {{persondocument.persondocument_CODE}} - {{persondocument.persondocumenttype_DESCRIPTION}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==11" class="form-group">
  <label class="custom-label form-label">Document
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="persondocumentID" [disabled]="disabled" name="persondocumentID">
        <ng-option *ngFor="let persondocument of persondocumentsAll" [value]="persondocument.persondocument_ID"
          [disabled]="disabled">
          {{persondocument.persondocument_CODE}} - {{persondocument.persondocumenttype_DESCRIPTION}}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="persondocumentID" [disabled]="disabled" name="persondocumentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let persondocument of persondocuments" [value]="persondocument.persondocument_ID"
          [disabled]="disabled">
          {{persondocument.persondocument_CODE}} - {{persondocument.persondocumenttype_DESCRIPTION}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==19" class="form-group">
  <label class="custom-label form-label">Document
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="persondocumentID" [disabled]="disabled" name="persondocumentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let persondocument of persondocumentsAll" [value]="persondocument.persondocument_ID"
          [disabled]="disabled">
          {{persondocument.persondocument_CODE}} - {{persondocument.persondocumenttype_DESCRIPTION}}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="persondocumentID" [disabled]="disabled" name="persondocumentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let persondocument of persondocumentsAll" [value]="persondocument.persondocument_ID"
          [disabled]="disabled">
          {{persondocument.persondocument_CODE}} - {{persondocument.persondocumenttype_DESCRIPTION}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==2" class="form-group">
  <div class="row">
    <div class="col-lg-12">
      <div class="outer-div">
        <div class="grid-wrapper">
          <dx-data-grid #grid id="gridContainer" [dataSource]="persondocumentsAll" keyExpr="persondocument_ID"
            [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
            [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
            height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
              cellTemplate="cellTemplate"> </dxi-column>

            <dxi-column dataField="documenttype_ID.description" caption="Document Type" cssClass="myClass"></dxi-column>
            <dxi-column dataField="documenttype_DESC" caption="Document description" cssClass="myClass"> </dxi-column>
            <dxi-column dataField="document_PATH" caption="Document Path" cssClass="myClass"> </dxi-column>
            <dxi-column dataField="filetype_ID.description" caption="File Type" cssClass="myClass"
              alignment="center"></dxi-column>
            <dxi-column [width]="120" dataField="is_VERIFIED" caption="Verified" cssClass="myClass"
              alignment="center"></dxi-column>
            <dxi-column [width]="120" dataField="is_ARCHIVED" caption="Archived" cssClass="myClass"
              alignment="center"></dxi-column>
            <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
              alignment="center"></dxi-column>

            <div *dxTemplate="let data of 'cellTemplate1'">
              <a href="javascript:void" class="" (click)="update(data)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </div>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="view==22" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="persondocumentsAll" keyExpr="persondocument_ID"
        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
        height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"></dxi-column>

        <dxi-column dataField="documenttype_ID.description" caption="Document Type" cssClass="myClass"></dxi-column>
        <dxi-column dataField="documenttype_DESC" caption="Document description" cssClass="myClass"> </dxi-column>
        <dxi-column dataField="document_PATH" caption="Document Path" cssClass="myClass"> </dxi-column>
        <dxi-column dataField="filetype_ID.description" caption="File Type" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="120" dataField="is_VERIFIED" caption="Verified" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="120" dataField="is_ARCHIVED" caption="Archived" cssClass="myClass"
          alignment="center"></dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="showView(data)">
            <i class="fa fa-eye" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && persondocumentAdd(persondocument)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New Person Document Information
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <app-documenttype #documenttype [documenttypeID]="persondocument.documenttype_ID"></app-documenttype>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Description</label>
                <input rows="3" type="input" class="form-control" name="documenttype_DESC" maxlength="500"
                  [(ngModel)]="persondocument.documenttype_DESC">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <app-filetype #filetype [filetypeID]="persondocument.filetype_ID"></app-filetype>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Document Path </label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="text" class="form-control" name="document_PATH" length="50"
                  [(ngModel)]="persondocument.document_PATH" required />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && persondocumentUpdate(persondocument)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Person Document Information
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Document Path </label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="text" class="form-control" name="document_PATH" length="50"
                  [(ngModel)]="persondocument.document_PATH" required />
              </div>
            </div>
            <div class="col-md-6">
              <app-filetype #filetype [filetypeID]="persondocument.filetype_ID"></app-filetype>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <app-documenttype #documenttype [documenttypeID]="persondocument.documenttype_ID"></app-documenttype>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Document type Description</label>
                <input rows="3" type="input" class="form-control" name="documenttype_DESC" maxlength="500"
                  [(ngModel)]="persondocument.documenttype_DESC">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="persondocument.isactive" [(ngModel)]="persondocument.isactive"
                      name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Update
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==5" class="form-group">
  <div class="card-primary card">
    <div class="card-header">
      <div class="align-items-center row">
        <div class="col" *ngIf="persondocument.persondocument_ID==0">
          <a href="javascript:void" aria-controls="collapse-persondocumentinfo1" aria-expanded="true"
            class="card-title">Add New Person Document
          </a>
        </div>
        <div class="col" *ngIf="persondocument.persondocument_ID!=0 && disabled==false">
          <a href="javascript:void" aria-controls="collapse-persondocumentinfo1" aria-expanded="true"
            class="card-title">Edit Person Document
          </a>
        </div>
        <div class="col" *ngIf="persondocument.persondocument_ID!=0 && disabled==true">
          <a href="javascript:void" aria-controls="collapse-persondocumentinfo1" aria-expanded="true"
            class="card-title">Person Document Detail
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-6">
              <app-documenttype #documenttype [disabled]="disabled"
                [documenttypeID]="persondocument.documenttype_ID"></app-documenttype>
            </div>
            <div class="col-md-6">
              <app-filetype #filetype [filetypeID]="persondocument.filetype_ID" [disabled]="disabled"></app-filetype>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Document Description</label>
                <textarea rows="3" type="input" class="form-control" name="documenttype_DESC" maxlength="500"
                  [(ngModel)]="persondocument.documenttype_DESC" [disabled]="disabled"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Document Path </label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="file" name="document_PATH" length="50" [(ngModel)]="persondocument.document_PATH"
                  [disabled]="disabled" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" *ngIf="persondocument.persondocument_ID!=0">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="persondocument.isactive" [(ngModel)]="persondocument.isactive"
                      [disabled]="disabled" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button *ngIf="persondocument.persondocument_ID!=0 && disabled==true" (click)="editView()" id="cancel"
                class="btn btn-primary" style="float: right;"> Edit
              </button>
              <button *ngIf="disabled==false" type="button" (click)='cancelView()' style="float: right;"
                class="btn btn-light" data-dismiss="modal"> Cancel
              </button>
              <button *ngIf="persondocument.persondocument_ID!=0 && disabled==false" type="button" data-dismiss="modal"
                style=" margin-right: 10px; float: right;" (click)='persondocumentUpdate(persondocument)'
                class="btn btn-primary">
                Update
              </button>
              <button *ngIf="persondocument.persondocument_ID==0" type="button" data-dismiss="modal"
                style=" margin-right: 10px; float: right;" (click)='persondocumentAdd(persondocument)'
                class="btn btn-primary">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
