
  <div class="form-group">
    <label class="custom-label form-label">Contact Type
      <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row" *ngIf="disabled==true">
      <div class="col-md-12">
        <ng-select [(ngModel)]="contacttypeID" [disabled]="disabled" name="contacttypeID" maxlength="50">
          <ng-option *ngFor="let contacttype of contacttypesAll" [value]="contacttype.id" [disabled]="disabled">
            {{ contacttype.code }} - {{ contacttype.description }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="row" *ngIf="disabled==false">
      <div class="col-md-10">
        <ng-select [(ngModel)]="contacttypeID" [disabled]="disabled" name="contacttypeID" maxlength="50">
          <ng-option *ngFor="let contacttype of contacttypes" [value]="contacttype.id" [disabled]="disabled">
            {{ contacttype.code }} - {{ contacttype.description }}
          </ng-option>
        </ng-select>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="contacttypeGet()">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
