<div class="form-group">
    <label class="custom-label form-label">Title
        <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row">
        <div class="col-md-10">
            <ng-select [(ngModel)]="title" [disabled]="disabled" name="titleID" maxlength="50">
                <ng-option *ngFor="let title of titles" [value]="title.description" [disabled]="disabled">
                    {{ title.description }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="titleGet()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
  </div>
  