
  <div class="form-group">
    <label class="custom-label form-label">Gender
      <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row" *ngIf="disabled==true">
      <div class="col-md-12">
        <ng-select [(ngModel)]="genderID" [disabled]="disabled" name="genderID" maxlength="50">
          <ng-option *ngFor="let gender of gendersAll" [value]="gender.id" [disabled]="disabled">
            {{ gender.code }} - {{ gender.description }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="row" *ngIf="disabled==false">
      <div class="col-md-10">
        <ng-select [(ngModel)]="genderID" [disabled]="disabled" name="genderID" maxlength="50">
          <ng-option *ngFor="let gender of genders" [value]="gender.id" [disabled]="disabled">
            {{ gender.code }} - {{ gender.description }}
          </ng-option>
        </ng-select>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="genderGet()">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  