<div class="collapse-card-h container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-primary card">
                <div class="card-header">
                    <div class="align-items-center row">
                        <div class="col" *ngIf="person.person_ID==0">
                            <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
                                class="card-title">Add New Person
                            </a>
                        </div>
                        <div class="col" *ngIf="person.person_ID!=0 && disabled==false">
                            <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
                                class="card-title">Edit Person
                            </a>
                        </div>
                        <div class="col" *ngIf="person.person_ID!=0 && disabled==true">
                            <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
                                class="card-title">Person Detail
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <label class="custom-label" for="surname">Title
                                <span style="color: red;" [hidden]="disabled">*</span>
                            </label>
                            <ng-select [(ngModel)]="person.title" [disabled]="disabled" name="title">
                                <ng-option *ngFor="let title of titles" [value]="title.description" [disabled]="disabled">
                                    {{title.description}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="custom-label form-label">Forenames
                                    <span style="color: red;" [hidden]="disabled">*</span>
                                </label>
                                <input type="text" [(ngModel)]="person.forenames" class="form-control"
                                    name="forenames" maxlength="50" [disabled]='disabled'>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label form-label">Surname
                                    <span style="color: red;" [hidden]="disabled">*</span>
                                </label>
                                <input type="text" [(ngModel)]="person.surname" class="form-control"
                                    name="surname" maxlength="50" [disabled]='disabled'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="custom-label form-label">Middlename</label>
                                <input type="text" [(ngModel)]="person.middlename" class="form-control"
                                    name="middlename" maxlength="50" [disabled]='disabled'>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="custom-label form-label">Nickname</label>
                                <input type="text" [(ngModel)]="person.nickname" class="form-control"
                                    name="nickname" maxlength="50" [disabled]='disabled'>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label form-label">Previous Surname</label>
                                <input type="text" [(ngModel)]="person.previoussurname" class="form-control"
                                    name="previoussurname" maxlength="50" [disabled]='disabled'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="custom-label form-label">Birth Date</label>
                                <input type="date" [(ngModel)]="person.birth_DATE" class="form-control"
                                    name="birth_DATE" maxlength="50" [disabled]='disabled'>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="custom-label form-label">Birth Time</label>
                                <input type="time" [(ngModel)]="person.birth_TIME" class="form-control"
                                    name="birth_TIME" maxlength="50" [disabled]='disabled'>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label form-label">Birth Place</label>
                                <ng-select [(ngModel)]="person.birthplace_ID" [disabled]="disabled" name="birthplace_ID">
                                    <ng-option *ngFor="let birthplace of birthplaceActive" [value]="birthplace.id"
                                        [disabled]="disabled">
                                        {{birthplace.description}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button *ngIf="person.person_ID!=0 && disabled==true" (click)="edit()" id="cancel" class="btn btn-primary"
                                style="float: right;"> Edit
                            </button>
                            <button *ngIf="disabled==false" type="button" (click)='cancel()' style="float: right;"
                                class="btn btn-light" data-dismiss="modal"> Cancel
                            </button>
                            <button *ngIf="person.person_ID!=0 && disabled==false" type="button" data-dismiss="modal"
                                style=" margin-right: 10px; float: right;" (click)='update(person)'
                                class="btn btn-primary">
                                Update
                            </button>
                            <button *ngIf="person.person_ID==0" type="button" data-dismiss="modal"
                                style=" margin-right: 10px; float: right;" (click)='add(person)'
                                class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>