
  <div class="form-group">
    <label class="custom-label form-label">Immigration Status
      <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row" *ngIf="disabled==true">
      <div class="col-md-12">
        <ng-select [(ngModel)]="immigrationstatusID" [disabled]="disabled" name="immigrationstatusID" maxlength="50">
          <ng-option *ngFor="let immigrationstatus of immigrationstatusesAll" [value]="immigrationstatus.id" [disabled]="disabled">
            {{ immigrationstatus.code }} - {{ immigrationstatus.description }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="row" *ngIf="disabled==false">
      <div class="col-md-10">
        <ng-select [(ngModel)]="immigrationstatusID" [disabled]="disabled" name="immigrationstatusID" maxlength="50">
          <ng-option *ngFor="let immigrationstatus of immigrationstatuses" [value]="immigrationstatus.id" [disabled]="disabled">
            {{ immigrationstatus.code }} - {{ immigrationstatus.description }}
          </ng-option>
        </ng-select>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="immigrationstatusGet()">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  