
  <div class="form-group">
    <label class="custom-label form-label">Education Institute
      <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row" *ngIf="disabled==true">
      <div class="col-md-12">
        <ng-select [(ngModel)]="educationinstituteID" [disabled]="disabled" name="educationinstituteID" maxlength="50">
          <ng-option *ngFor="let educationinstitute of educationinstitutesAll" [value]="educationinstitute.id" [disabled]="disabled">
            {{ educationinstitute.code }} - {{ educationinstitute.description }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="row" *ngIf="disabled==false">
      <div class="col-md-10">
        <ng-select [(ngModel)]="educationinstituteID" [disabled]="disabled" name="educationinstituteID" maxlength="50">
          <ng-option *ngFor="let educationinstitute of educationinstitutes" [value]="educationinstitute.id" [disabled]="disabled">
            {{ educationinstitute.code }} - {{ educationinstitute.description }}
          </ng-option>
        </ng-select>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="educationinstituteGet()">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

