
  <div class="form-group">
    <label class="custom-label form-label">Location Study
      <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row" *ngIf="disabled==true">
      <div class="col-md-12">
        <ng-select [(ngModel)]="locationstudyID" [disabled]="disabled" name="locationstudyID" maxlength="50">
          <ng-option *ngFor="let locationstudy of locationstudiesAll" [value]="locationstudy.id" [disabled]="disabled">
            {{ locationstudy.code }} - {{ locationstudy.description }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="row" *ngIf="disabled==false">
      <div class="col-md-10">
        <ng-select [(ngModel)]="locationstudyID" [disabled]="disabled" name="locationstudyID" maxlength="50">
          <ng-option *ngFor="let locationstudy of locationstudies" [value]="locationstudy.id" [disabled]="disabled">
            {{ locationstudy.code }} - {{ locationstudy.description }}
          </ng-option>
        </ng-select>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="locationstudyGet()">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  