<!-- <div class="collapse-card-h container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-primary card">
                <div class="card-header">
                    <div class="align-items-center row">
                        <div class="col">
                            <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true" class="card-title">PRODUCT CATEGORY INFORMATION
                      </a>
                        </div>
                        <div class="col-auto">
                            <button (click)="addNew()" class="btn btn-secondary btn-sm">
                          <i class="fas fa-plus fa-fw"></i> Add New
                      </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <app-productcategory #productcategories [view]=2 (edit)="edit($event)"></app-productcategory>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="addproductcategory" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add New Product Category Information
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true"> ×</span>
          </button>
            </div>
            <app-productcategory #addproductcategory [view]=3 (cancel)="cancel()"></app-productcategory>
        </div>
    </div>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="editproductcategory" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Product Category Information
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true"> ×</span>
          </button>
            </div>
            <app-productcategory #editproductcategory [view]=4 (cancel)="cancel()"></app-productcategory>
        </div>
    </div>
</div> -->