<div *ngIf="view==1" class="form-group">
  <label class="custom-label form-label">Personcommunication SMS
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personsmsID" [disabled]="disabled" name="personsmsID" (change)="onChange($event)">
        <ng-option *ngFor="let personcommunicationsms of personcommunicationsmsesAll"
          [value]="personcommunicationsms.personsms_ID">
          {{ personcommunicationsms.sms_DATETIME }} - {{ personcommunicationsms.sms_CONTENT }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personsmsID" name="personsmsID" (change)="onChange($event)">
        <ng-option *ngFor="let personcommunicationsms of personcommunicationsmses"
          [value]="personcommunicationsms.personsms_ID" [disabled]="disabled">
          {{ personcommunicationsms.sms_DATETIME }} - {{ personcommunicationsms.sms_CONTENT }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==10" class="form-group">
  <label class="custom-label form-label">Personcommunication SMS
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personsmsID" [disabled]="disabled" name="personsmsID" (change)="onChange($event)">
        <ng-option *ngFor="let personcommunicationsms of personcommunicationsmsesAll"
          [value]="personcommunicationsms.personsms_ID">
          {{ personcommunicationsms.sms_DATETIME }} - {{ personcommunicationsms.sms_CONTENT }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personsmsID" name="personsmsID" (change)="onChange($event)">
        <ng-option *ngFor="let personcommunicationsms of personcommunicationsmsesAll"
          [value]="personcommunicationsms.personsms_ID" [disabled]="disabled">
          {{ personcommunicationsms.sms_DATETIME }} - {{ personcommunicationsms.sms_CONTENT }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==11" class="form-group">
  <label class="custom-label form-label">Personcommunication SMS
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personsmsID" [disabled]="disabled" name="personsmsID">
        <ng-option *ngFor="let personcommunicationsms of personcommunicationsmsesAll"
          [value]="personcommunicationsms.personsms_ID" [disabled]="disabled">
          {{ personcommunicationsms.sms_DATETIME }} - {{ personcommunicationsms.sms_CONTENT }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personsmsID" [disabled]="disabled" name="personsmsID" (change)="onChange($event)">
        <ng-option *ngFor="let personcommunicationsms of personcommunicationsmses"
          [value]="personcommunicationsms.personsms_ID" [disabled]="disabled">
          {{ personcommunicationsms.sms_DATETIME }} - {{ personcommunicationsms.sms_CONTENT }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==19" class="form-group">
  <label class="custom-label form-label">Personcommunication SMS
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personsmsID" [disabled]="disabled" name="personsmsID" (change)="onChange($event)">
        <ng-option *ngFor="let personcommunicationsms of personcommunicationsmsesAll"
          [value]="personcommunicationsms.personsms_ID" [disabled]="disabled">
          {{ personcommunicationsms.sms_DATETIME }} - {{ personcommunicationsms.sms_CONTENT }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personsmsID" [disabled]="disabled" name="personsmsID" (change)="onChange($event)">
        <ng-option *ngFor="let personcommunicationsms of personcommunicationsmsesAll"
          [value]="personcommunicationsms.personsms_ID" [disabled]="disabled">
          {{ personcommunicationsms.sms_DATETIME }} - {{ personcommunicationsms.sms_CONTENT }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>


<div *ngIf="view==2" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="personcommunicationsmsesAll" keyExpr="personsms_ID"
        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
        height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"></dxi-column>

        <dxi-column dataField="personcontact.contact_VALUE" caption="personcommunicationsms Contact" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="sms_DATETIME" caption="Date" cssClass="myClass" alignment="center"></dxi-column>
        <dxi-column dataField="sms_CONTENT" caption="Content" cssClass="myClass" alignment="center"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
          alignment="center"></dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="showView(data)">
            <i class="fa fa-eye" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==22" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="personcommunicationsmses" keyExpr="personsms_ID"
        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
        height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"></dxi-column>

        <dxi-column dataField="personcontact.contact_VALUE" caption="personcommunicationsms Contact" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="sms_DATETIME" caption="Date" cssClass="myClass" alignment="center"></dxi-column>
        <dxi-column dataField="sms_CONTENT" caption="Content" cssClass="myClass" alignment="center"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
          alignment="center"></dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="update(data)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && personcommunicationsmsAdd(personcommunicationsms)"
    #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New personcommunicationsms SMS
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Date Time <span style="color:red">*</span></label>
                <input type="date" class="form-control" name="sms_DATETIME"
                  [(ngModel)]="personcommunicationsms.sms_DATETIME" maxlength="50" required>
              </div>
            </div>
            <div class="col-md-6">
              <app-personcontact #personcontact [view]="3"
                [personcontactID]="personcommunicationsms.personcontact_ID"></app-personcontact>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"> Content <span style="color:red">*</span></label>
                <textarea type="text" class="form-control" name="sms_CONTENT"
                  [(ngModel)]="personcommunicationsms.sms_CONTENT" maxlength="50"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && personcommunicationsmsUpdate(personcommunicationsms)"
    #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit personcommunicationsms SMS
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Date Time <span style="color:red">*</span></label>
                <input type="date" class="form-control" name="sms_DATETIME"
                  [(ngModel)]="personcommunicationsms.sms_DATETIME" maxlength="50" required>
              </div>
            </div>
            <div class="col-md-6">
              <app-personcontact #personcontact [view]="3"
                [personcontactID]="personcommunicationsms.personcontact_ID"></app-personcontact>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"> Content <span style="color:red">*</span></label>
                <textarea type="text" class="form-control" name="sms_CONTENT"
                  [(ngModel)]="personcommunicationsms.sms_CONTENT" maxlength="50"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="personcommunicationsms.isactive"
                      [(ngModel)]="personcommunicationsms.isactive" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Update
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==5" class="form-group">
  <div class="card-primary card">
    <div class="card-header">
      <div class="align-items-center row">
        <div class="col" *ngIf="personcommunicationsms.personsms_ID==0">
          <a href="javascript:void" aria-controls="collapse-personcommunicationsmsinfo1" aria-expanded="true"
            class="card-title">Add SMS
          </a>
        </div>
        <div class="col" *ngIf="personcommunicationsms.personsms_ID!=0 && disabled==false">
          <a href="javascript:void" aria-controls="collapse-personcommunicationsmsinfo1" aria-expanded="true"
            class="card-title">Edit SMS
          </a>
        </div>
        <div class="col" *ngIf="personcommunicationsms.personsms_ID!=0 && disabled==true">
          <a href="javascript:void" aria-controls="collapse-personcommunicationsmsinfo1" aria-expanded="true"
            class="card-title">SMS
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label"> Date Time <span style="color:red">*</span></label>
                    <input type="date" class="form-control" name="sms_DATETIME"
                      [(ngModel)]="personcommunicationsms.sms_DATETIME" [disabled]="disabled" maxlength="50" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label"> Content <span style="color:red">*</span></label>
                    <ckeditor [editor]="Editor" name="sms_CONTENT" [(ngModel)]="personcommunicationsms.sms_CONTENT"
                      [disabled]="disabled"></ckeditor>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <app-personcontact #personcontact [view]="3" [disabled]="disabled"
                [personcontactID]="personcommunicationsms.personcontact_ID"></app-personcontact>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" *ngIf="personcommunicationsms.personsms_ID!=0">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="personcommunicationsms.isactive"
                      [(ngModel)]="personcommunicationsms.isactive" [disabled]="disabled" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button *ngIf="personcommunicationsms.personsms_ID!=0 && disabled==true" (click)="editView()" id="cancel"
                class="btn btn-primary" style="float: right;"> Edit
              </button>
              <button *ngIf="disabled==false" type="button" (click)='personcommunicationsmsCancel()'
                style="float: right;" class="btn btn-light" data-dismiss="modal"> Cancel
              </button>
              <button *ngIf="personcommunicationsms.personsms_ID!=0 && disabled==false" type="button"
                data-dismiss="modal" style=" margin-right: 10px; float: right;"
                (click)='personcommunicationsmsUpdate(personcommunicationsms)' class="btn btn-primary">Update
              </button>
              <button *ngIf="personcommunicationsms.personsms_ID==0" type="button" data-dismiss="modal"
                style=" margin-right: 10px; float: right;" (click)='personcommunicationsmsAdd(personcommunicationsms)'
                class="btn btn-primary">Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
