
  <div class="form-group">
    <label class="custom-label form-label">Course Aim
      <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row" *ngIf="disabled==true">
      <div class="col-md-12">
        <ng-select [(ngModel)]="courseaimID" [disabled]="disabled" name="courseaimID" maxlength="50">
          <ng-option *ngFor="let courseaim of courseaimsAll" [value]="courseaim.id" [disabled]="disabled">
            {{ courseaim.code }} - {{ courseaim.description }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="row" *ngIf="disabled==false">
      <div class="col-md-10">
        <ng-select [(ngModel)]="courseaimID" [disabled]="disabled" name="courseaimID" maxlength="50">
          <ng-option *ngFor="let courseaim of courseaims" [value]="courseaim.id" [disabled]="disabled">
            {{ courseaim.code }} - {{ courseaim.description }}
          </ng-option>
        </ng-select>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="courseaimGet()">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  