<div *ngIf="isApplication==true" class="collapse-card-h container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-primary card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <button (click)="previous()" class="btn btn-primary" *ngIf="previousURL!=''"> 
                                Previous
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button style="float: right;" (click)='close()' class="btn btn-primary">
                                Save & Close
                            </button>
                        </div>
                        <div class="col-md-5">
                              <button style="float: right;" (click)='next()' class="btn btn-primary">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>