<div *ngIf="view==1" class="form-group">
    <label class="custom-label form-label"> Mail Label
        <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row">
        <div class="col-md-10" *ngIf="disabled==true">
            <ng-select [(ngModel)]="maillabelID" [disabled]="disabled" name="maillabelID">
                <ng-option *ngFor="let loginusermaillabel of loginusermaillabelsAll" [value]="loginusermaillabel.maillabel_ID">
                    {{ loginusermaillabel.maillabel_ORDERNO }} - {{ loginusermaillabel.maillabel_DESC }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-10" *ngIf="disabled==false">
            <ng-select [(ngModel)]="maillabelID" [disabled]="disabled" name="maillabelID">
                <ng-option *ngFor="let loginusermaillabel of loginusermaillabels" [value]="loginusermaillabel.maillabel_ID">
                    {{ loginusermaillabel.maillabel_ORDERNO }} - {{ loginusermaillabel.maillabel_DESC }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="loginusermaillabelGet()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div *ngIf="view==11" class="form-group">
    <label class="custom-label form-label"> Mail Label
        <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row">
        <div class="col-md-10" *ngIf="disabled==true">
            <ng-select [(ngModel)]="maillabelID" [disabled]="disabled" name="maillabelID">
                <ng-option *ngFor="let loginusermaillabel of loginusermaillabelsAll" [value]="loginusermaillabel.maillabel_ID">
                    {{ loginusermaillabel.maillabel_ORDERNO }} - {{ loginusermaillabel.maillabel_DESC }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-10" *ngIf="disabled==false">
            <ng-select [(ngModel)]="maillabelID" [disabled]="disabled" name="maillabelID">
                <ng-option *ngFor="let loginusermaillabel of loginusermaillabels" [value]="loginusermaillabel.maillabel_ID">
                    {{ loginusermaillabel.maillabel_ORDERNO }} - {{ loginusermaillabel.maillabel_DESC }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled"
                (click)="loginusermaillabelAdvancedSearch(userID)">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div *ngIf="view==2" class="form-group">
    <div class="outer-div">
        <div class="grid-wrapper">
            <dx-data-grid #grid id="gridContainer" [dataSource]="loginusermaillabelsAll" keyExpr="maillabel_ID"
                [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
                height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
                    cellTemplate="cellTemplate"></dxi-column>
                    <dxi-column dataField="user_ID" caption="User" cssClass="myClass" alignment="center"></dxi-column>
                    <dxi-column dataField="maillabel_ORDERNO" caption="Order No" cssClass="myClass" alignment="center"></dxi-column>
                    <dxi-column dataField="maillabel_COLOR" caption="Color" cssClass="myClass"alignment="center"></dxi-column>
                    <dxi-column dataField="maillabel_DESC" caption="Description" cssClass="myClass" alignment="left"></dxi-column>
                    <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:void" class="" (click)="update(data)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>

<div *ngIf="view==22" class="form-group">
    <div class="outer-div">
        <div class="grid-wrapper">
            <dx-data-grid #grid id="gridContainer" [dataSource]="loginusermaillabelsAll" keyExpr="maillabel_ID"
            [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
            [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
            height="600" width="100%" (onToolbarPreparing)="onToolbarPreparingAdvanced($event)">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
                cellTemplate="cellTemplate"></dxi-column>
                <dxi-column dataField="user.username" caption="User" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="maillabel_ORDERNO" caption="Order No" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="maillabel_COLOR" caption="Color" cssClass="myClass"alignment="center"></dxi-column>
                <dxi-column dataField="maillabel_DESC" caption="Description" cssClass="myClass" alignment="left"></dxi-column>
                <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:void" class="" (click)="update(data)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>

<div *ngIf="view==3" class="form-group">
    <form action="" class="form" (ngSubmit)="f.form.valid && loginusermaillabelAdd(loginusermaillabel)" #f="ngForm" novalidate>
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add New Mail Label
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"> ×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <app-loginuser #addloginuser [view]="1" ></app-loginuser>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Order No <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="maillabel_ORDERNO"
                                    [(ngModel)]="loginusermaillabel.maillabel_ORDERNO" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Color <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="maillabel_COLOR"
                                    [(ngModel)]="loginusermaillabel.maillabel_COLOR" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textarea rows="3" class="form-control" [(ngModel)]="loginusermaillabel.maillabel_DESC"
                                    name="loginusermaillabel_DESC"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="view==4" class="form-group">
    <form action="" class="form" (ngSubmit)="f.form.valid && loginusermaillabelUpdate(loginusermaillabel)" #f="ngForm" novalidate>
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Mail Label
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"> ×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <app-loginuser #editloginuser [view]="1" [userID]="loginusermaillabel.user_ID"></app-loginuser>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Order No <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="maillabel_ORDERNO"
                                    [(ngModel)]="loginusermaillabel.maillabel_ORDERNO" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Color <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="maillabel_COLOR"
                                    [(ngModel)]="loginusermaillabel.maillabel_COLOR" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textarea rows="3" class="form-control" [(ngModel)]="loginusermaillabel.maillabel_DESC"
                                    name="loginusermaillabel_DESC"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="loginusermaillabel.isactive"
                                            [(ngModel)]="loginusermaillabel.isactive" name="isactive">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                        <i class="fa fa-plus" aria-hidden="true"></i> Update
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="view==5" class="form-group">
    <div class="card-primary card">
        <div class="card-header">
            <div class="align-items-center row">
                <div class="col" *ngIf="loginusermaillabel.maillabel_ID==0">
                    <a href="javascript:void" aria-controls="collapse-loginusermaillabelinfo1" aria-expanded="true"
                        class="card-title">Add New Mail Label
                    </a>
                </div>
                <div class="col" *ngIf="loginusermaillabel.maillabel_ID!=0 && disabled==false">
                    <a href="javascript:void" aria-controls="collapse-loginusermaillabelinfo1" aria-expanded="true"
                        class="card-title">Edit Mail Label
                    </a>
                </div>
                <div class="col" *ngIf="loginusermaillabel.maillabel_ID!=0 && disabled==true">
                    <a href="javascript:void" aria-controls="collapse-loginusermaillabelinfo1" aria-expanded="true"
                        class="card-title">Mail Label Detail
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-4">
                            <app-loginuser #loginuser [view]="1" [iscompulsory]=true [disabled]="disabled" [userID]="loginusermaillabel.user_ID"></app-loginuser>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Order No <span style="color:red"
                                        [hidden]="disabled">*</span></label>
                                <input type="text" class="form-control" name="maillabel_ORDERNO" [disabled]="disabled"
                                    [(ngModel)]="loginusermaillabel.maillabel_ORDERNO" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Color <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="maillabel_COLOR" [disabled]="disabled"
                                    [(ngModel)]="loginusermaillabel.maillabel_COLOR" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label"> Description</label>
                                <textarea rows="3" class="form-control" [(ngModel)]="loginusermaillabel.maillabel_DESC"
                                    [disabled]="disabled" name="maillabel_DESC"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" *ngIf="loginusermaillabel.maillabel_ID!=0">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="loginusermaillabel.isactive"
                                            [(ngModel)]="loginusermaillabel.isactive" [disabled]="disabled" name="isactive">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button *ngIf="loginusermaillabel.maillabel_ID!=0 && disabled==true" (click)="editView()" id="cancel"
                                class="btn btn-primary" style="float: right;"> Edit
                            </button>
                            <button *ngIf="disabled==false" type="button" (click)='loginusermaillabelCancel()'
                                style="float: right;" class="btn btn-light" data-dismiss="modal"> Cancel
                            </button>
                            <button *ngIf="loginusermaillabel.maillabel_ID!=0 && disabled==false" type="button" data-dismiss="modal"
                                style=" margin-right: 10px; float: right;" (click)='loginusermaillabelUpdate(loginusermaillabel)'
                                class="btn btn-primary">
                                Update
                            </button>
                            <button *ngIf="loginusermaillabel.maillabel_ID==0" type="button" data-dismiss="modal"
                                style=" margin-right: 10px; float: right;" (click)='loginusermaillabelAdd(loginusermaillabel)'
                                class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>