<div class="collapse-card-h container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-primary card">
                <div class="card-header">
                    <div class="align-items-center row">
                        <div class="col" *ngIf="campus.campus_ID==0">
                            <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
                                class="card-title">Add New Campus
                            </a>
                        </div>
                        <div class="col" *ngIf="campus.campus_ID!=0 && disabled==false">
                            <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
                                class="card-title">Edit Campus
                            </a>
                        </div>
                        <div class="col" *ngIf="campus.campus_ID!=0 && disabled==true">
                            <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
                                class="card-title">Campus Detail
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" *ngIf="universityActive.length>1">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="custom-label form-label">University</label>
                                <ng-select [(ngModel)]="campus.university_ID" [disabled]="disabled" maxlength="50" name="university_ID">
                                    <ng-option *ngFor="let university of universityActive"
                                        [value]="university.university_ID" [disabled]="disabled">
                                        {{university.university_NAME}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="custom-label form-label">Campus Code
                                    <span style="color: red;" [hidden]="disabled">*</span>
                                </label>
                                <input type="text" [(ngModel)]="campus.campus_CODE" class="form-control"
                                    name="campus_CODE" maxlength="50" [disabled]='disabled'>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="custom-label form-label">Campus Name
                                    <span style="color: red;" [hidden]="disabled">*</span>
                                </label>
                                <input type="text" [(ngModel)]="campus.campus_NAME" class="form-control"
                                    name="campus_NAME" maxlength="50" [disabled]='disabled'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label form-label">Description</label>
                                <textarea class="form-control" rows="3" name="campus_DESCRIPTION" [disabled]="disabled"
                                    [(ngModel)]="campus.campus_DESCRIPTION"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="custom-label form-label">Country
                                    <span style="color: red;" [hidden]="disabled">*</span>
                                </label>
                                <ng-select [(ngModel)]="campus.addresscountry_ID" [disabled]="disabled" name="addresscountry_ID"
                                    maxlength="50">
                                    <ng-option *ngFor="let country of addresscountryActive" [value]="country.id"
                                        [disabled]="disabled">
                                        {{country.description}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="custom-label form-label">Postcode
                                    <span style="color:red" [hidden]="disabled">*</span>
                                </label>
                                <input id="postcode" type="text" class="form-control"
                                    name="address_POSTCODE" [(ngModel)]="campus.address_POSTCODE" maxlength="50"
                                    [disabled]="disabled">
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="addressActive.length>0">
                            <div class="form-group">
                                <button class="my-4 mx-auto w-100 btn btn-primary btn-sm" [hidden]="disabled"
                                    (click)="getAddress(campus.address_POSTCODE)">Get Address
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="addressActive.length>0">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="custom-label form-label" [hidden]="disabled">Select Address</label>
                                <ng-select (change)="updateAddress($event)"
                                    [hidden]="disabled" maxlength="50" name="address">
                                    <ng-option *ngFor="let address of addressActive" [value]="address.mainaddress"
                                        [disabled]="disabled">{{address.mainaddress}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="custom-label form-label">Address Line 1</label>
                                <input type="text" class="form-control" [disabled]="disabled" name="address_LINE1"
                                    maxlength="50" [(ngModel)]="campus.address_LINE1">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="custom-label form-label">Address Line 2</label>
                                <input type="text" class="form-control" [disabled]="disabled" name="address_LINE2"
                                    maxlength="50" [(ngModel)]="campus.address_LINE2">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="custom-label form-label">Address Line 3</label>
                                <input type="text" class="form-control" [disabled]="disabled" name="address_LINE3"
                                    maxlength="50" [(ngModel)]="campus.address_LINE3">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="custom-label form-label">City</label>
                                <input type="text" class="form-control" [disabled]="disabled" name="address_LINE4"
                                    maxlength="50" [(ngModel)]="campus.address_LINE4">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="custom-label form-label">Province / County</label>
                                <input type="text" class="form-control" [disabled]="disabled" name="address_LINE5"
                                    maxlength="50" [(ngModel)]="campus.address_LINE5">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="custom-label form-label">Telephone</label>
                                <input type="text" class="form-control" [disabled]="disabled" name="web_ADDRESS"
                                    maxlength="50" [(ngModel)]="campus.telephone">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label form-label">Fax No</label>
                                <input type="text" class="form-control" [disabled]="disabled" name="web_ADDRESS"
                                    maxlength="50" [(ngModel)]="campus.faxno">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="custom-label form-label">Email</label>
                                <input type="text" class="form-control" [disabled]="disabled" name="email"
                                    [(ngModel)]="campus.email">
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="campus.campus_ID!=0">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="campus.isactive" [(ngModel)]="campus.isactive"
                                        [disabled]="disabled" name="isactive">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button *ngIf="campus.campus_ID!=0 && disabled==true" (click)="edit()" id="cancel" class="btn btn-primary"
                                style="float: right;"> Edit
                            </button>
                            <button *ngIf="disabled==false" type="button" (click)='cancel()' style="float: right;"
                                class="btn btn-light" data-dismiss="modal"> Cancel
                            </button>
                            <button *ngIf="campus.campus_ID!=0 && disabled==false" type="button" data-dismiss="modal"
                                style=" margin-right: 10px; float: right;" (click)='update(campus)'
                                class="btn btn-primary">
                                Update
                            </button>
                            <button *ngIf="campus.campus_ID==0" type="button" data-dismiss="modal"
                                style=" margin-right: 10px; float: right;" (click)='add(campus)'
                                class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>