<app-person></app-person>

<div class="collapse-card-h container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-primary card">
                <div class="card-header">
                    <div class="align-items-center row">
                        <div class="col">
                            <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
                                class="card-title">REFERENCES
                            </a>
                        </div>
                        <div class="col-auto">
                            <button (click)="addNew()" class="btn btn-secondary btn-sm">
                                <i class="fas fa-plus fa-fw"></i> Add New
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <app-personreference #personreferences [view]=2 (show)="show($event)"></app-personreference>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="addpersonreference" role="dialog" tabindex="-1">
    <app-personreference #addpersonreference [view]=3 (refresh)="refresh()" (cancel)="cancel()"></app-personreference>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="editpersonreference" role="dialog" tabindex="-1">
    <app-personreference #editpersonreference [view]=4 (refresh)="refresh()" (cancel)="cancel()"></app-personreference>
</div>

<app-navigation nextURL="/home/employments" previousURL="/home/documents"></app-navigation>
