<div *ngIf="view==1" class="form-group">
  <label class="custom-label form-label">Person Education Institute
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personinstituteID" [disabled]="disabled" name="personinstituteID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personeducationinstitute of personeducationinstitutesAll"
          [value]="personeducationinstitute.personinstitute_ID" [disabled]="disabled">
          {{ personeducationinstitute.personinstitute_STARTDATE }} - {{
          personeducationinstitute.personinstitute_ENDDATE}} </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personinstituteID" [disabled]="disabled" name="personinstituteID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personeducationinstitute of personeducationinstitutes"
          [value]="personeducationinstitute.personinstitute_ID" [disabled]="disabled">
          {{ personeducationinstitute.personinstitute_STARTDATE }} - {{
          personeducationinstitute.personinstitute_ENDDATE}} </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==10" class="form-group">
  <label class="custom-label form-label">Person Education Institute
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personinstituteID" [disabled]="disabled" name="personinstituteID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personeducationinstitute of personeducationinstitutesAll"
          [value]="personeducationinstitute.personinstitute_ID" [disabled]="disabled">
          {{ personeducationinstitute.personinstitute_STARTDATE }} - {{
          personeducationinstitute.personinstitute_ENDDATE}} </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personinstituteID" [disabled]="disabled" name="personinstituteID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personeducationinstitute of personeducationinstitutesAll"
          [value]="personeducationinstitute.personinstitute_ID" [disabled]="disabled">
          {{ personeducationinstitute.personinstitute_STARTDATE }} - {{
          personeducationinstitute.personinstitute_ENDDATE}} </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==11" class="form-group">
  <label class="custom-label form-label">Person Education Institute
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personinstituteID" [disabled]="disabled" name="personinstituteID">
        <ng-option *ngFor="let personeducationinstitute of personeducationinstitutesAll"
          [value]="personeducationinstitute.personinstitute_ID" [disabled]="disabled">
          {{ personeducationinstitute.personinstitute_STARTDATE }} - {{
          personeducationinstitute.personinstitute_ENDDATE}} </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personinstituteID" [disabled]="disabled" name="personinstituteID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personeducationinstitute of personeducationinstitutes"
          [value]="personeducationinstitute.personinstitute_ID" [disabled]="disabled">
          {{ personeducationinstitute.personinstitute_STARTDATE }} - {{
          personeducationinstitute.personinstitute_ENDDATE}} </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==19" class="form-group">
  <label class="custom-label form-label">Person Education Institute
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personinstituteID" [disabled]="disabled" name="personinstituteID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personeducationinstitute of personeducationinstitutesAll"
          [value]="personeducationinstitute.personinstitute_ID" [disabled]="disabled">
          {{ personeducationinstitute.personinstitute_STARTDATE }} - {{
          personeducationinstitute.personinstitute_ENDDATE}} </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personinstituteID" [disabled]="disabled" name="personinstituteID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personeducationinstitute of personeducationinstitutesAll"
          [value]="personeducationinstitute.personinstitute_ID" [disabled]="disabled">
          {{ personeducationinstitute.personinstitute_STARTDATE }} - {{
          personeducationinstitute.personinstitute_ENDDATE}} </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==2" class="form-group">
  <div class="row">
    <div class="col-lg-12">
      <div class="outer-div">
        <div class="grid-wrapper">
          <dx-data-grid #grid id="gridContainer" [dataSource]="personeducationinstitutesAll"
            keyExpr="personinstitute_ID" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
            [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true"
            [remoteOperations]="true" height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
              cellTemplate="cellTemplate"> </dxi-column>
            <dxi-column dataField="personinstitute_ID" caption="ID" cssClass="myClass" alignment="center"> </dxi-column>
            <dxi-column dataField="person_ID.forenames" caption="Name" cssClass="myClass" alignment="center">
            </dxi-column>
            <dxi-column dataField="educationinstitute_DESC" caption="Description" cssClass="myClass" alignment="center">
            </dxi-column>
            <dxi-column dataField="educationinstitute_ID.description" caption="Institute" cssClass="myClass"
              alignment="center"> </dxi-column>
            <dxi-column dataField="personinstitute_ENDDATE" caption="End Date" cssClass="myClass"
              alignment="center"></dxi-column>
            <dxi-column dataField="personinstitute_STARTDATE" caption="Start Date" cssClass="myClass"
              alignment="center"></dxi-column>
            <dxi-column dataField="educationattendancemode_ID.description" caption="Attendance" cssClass="myClass"
              alignment="center"> </dxi-column>
            <dxi-column dataField="recievedqualification" caption="Receive Qualification" cssClass="myClass"
              alignment="center"> </dxi-column>
            <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
              alignment="center"></dxi-column>

            <div *dxTemplate="let data of 'cellTemplate'">
              <a href="javascript:void" class="" (click)="update(data)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </div>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="view==22" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="personeducationinstitutes" keyExpr="personinstitute_ID"
        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
        height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"></dxi-column>

        <dxi-column dataField="personinstitute_ID" caption="ID" cssClass="myClass" alignment="center"> </dxi-column>
        <dxi-column dataField="person_ID.forenames" caption="Name" cssClass="myClass" alignment="center">
        </dxi-column>
        <dxi-column dataField="educationinstitute_DESC" caption="Description" cssClass="myClass" alignment="center">
        </dxi-column>
        <dxi-column dataField="educationinstitute_ID.description" caption="Institute" cssClass="myClass"
          alignment="center"> </dxi-column>
        <dxi-column dataField="personinstitute_ENDDATE" caption="End Date" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column dataField="personinstitute_STARTDATE" caption="Start Date" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column dataField="educationattendancemode_ID.description" caption="Attendance" cssClass="myClass"
          alignment="center"> </dxi-column>
        <dxi-column dataField="recievedqualification" caption="Receive Qualification" cssClass="myClass"
          alignment="center"> </dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
          alignment="center"></dxi-column>


        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="update(data)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && personeducationinstituteAdd(personeducationinstitute)"
    #f="ngForm" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <app-educationinstitute #educationinstitute
            [educationinstituteID]="personeducationinstitute.educationinstitute_ID.id"
            [iscompulsory]="true"></app-educationinstitute>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Institude Description</label>
            <input rows="3" type="input" class="form-control" name="educationinstitute_DESC" maxlength="500"
              [(ngModel)]="personeducationinstitute.educationinstitute_DESC">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Start Date </label>
            <span style="color: red;" [hidden]="disabled"> *</span>
            <input type="date" class="form-control" name="personinstitute_STARTDATE" length="50"
              [(ngModel)]="personeducationinstitute.personinstitute_STARTDATE" required />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">End Date </label>
            <span style="color: red;" [hidden]="disabled"> *</span>
            <input type="date" class="form-control" name="personinstitute_ENDDATE" length="50"
              [(ngModel)]="personeducationinstitute.personinstitute_ENDDATE" required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-educationattendancemode #educationattendancemode
            [educationattendancemodeID]="personeducationinstitute.educationattendancemode_ID.id"
            [iscompulsory]="true"></app-educationattendancemode>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label"> Receive qualification</label>
            <input type="text" class="form-control" name="recievedqualification" maxlength="500"
              [(ngModel)]="personeducationinstitute.recievedqualification">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        <i class="fa fa-plus" aria-hidden="true"></i> Add
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && personeducationinstituteUpdate(personeducationinstitute)"
    #f="ngForm" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <app-educationinstitute #educationinstitute
            [educationinstituteID]="personeducationinstitute.educationinstitute_ID.id"
            [iscompulsory]="true"></app-educationinstitute>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Institude Description</label>
            <input rows="3" type="input" class="form-control" name="educationinstitute_DESC" maxlength="500"
              [(ngModel)]="personeducationinstitute.educationinstitute_DESC">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Start Date </label>
            <span style="color: red;" [hidden]="disabled"> *</span>
            <input type="date" class="form-control" name="personinstitute_STARTDATE" length="50"
              [(ngModel)]="personeducationinstitute.personinstitute_STARTDATE" required />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">End Date </label>
            <span style="color: red;" [hidden]="disabled"> *</span>
            <input type="date" class="form-control" name="personinstitute_ENDDATE" length="50"
              [(ngModel)]="personeducationinstitute.personinstitute_ENDDATE" required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-educationattendancemode #educationattendancemode
            [educationattendancemodeID]="personeducationinstitute.educationattendancemode_ID.id"
            [iscompulsory]="true"></app-educationattendancemode>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label"> Receive qualification</label>
            <input type="text" class="form-control" name="recievedqualification" maxlength="500"
              [(ngModel)]="personeducationinstitute.recievedqualification">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                <input type="checkbox" [checked]="personeducationinstitute.isactive"
                  [(ngModel)]="personeducationinstitute.isactive" name="isactive">
                Active
              </label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        <i class="fa fa-plus" aria-hidden="true"></i> Update
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </form>
</div>

<div *ngIf="view==5" class="fcorm-group">
  <div class="card-primary card">
    <div class="card-header">
      <div class="align-items-center row">
        <div class="col" *ngIf="personeducationinstitute.personinstitute_ID==0">
          <a href="javascript:void" aria-controls="collapse-personeducationinstituteinfo1" aria-expanded="true"
            class="card-title">Add New Contact
          </a>
        </div>
        <div class="col" *ngIf="personeducationinstitute.personinstitute_ID!=0 && disabled==false">
          <a href="javascript:void" aria-controls="collapse-personeducationinstituteinfo1" aria-expanded="true"
            class="card-title">Edit Contact
          </a>
        </div>
        <div class="col" *ngIf="personeducationinstitute.personinstitute_ID!=0 && disabled==true">
          <a href="javascript:void" aria-controls="collapse-personeducationinstituteinfo1" aria-expanded="true"
            class="card-title">Contact Detail
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-6">
              <app-educationinstitute #educationinstitute
                [educationinstituteID]="personeducationinstitute.educationinstitute_ID.id"
                [iscompulsory]="true"></app-educationinstitute>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Institude Description</label>
                <input rows="3" type="input" class="form-control" name="educationinstitute_DESC" maxlength="500"
                  [(ngModel)]="personeducationinstitute.educationinstitute_DESC">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Start Date </label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="date" class="form-control" name="personinstitute_STARTDATE" length="50"
                  [(ngModel)]="personeducationinstitute.personinstitute_STARTDATE" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">End Date </label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="date" class="form-control" name="personinstitute_ENDDATE" length="50"
                  [(ngModel)]="personeducationinstitute.personinstitute_ENDDATE" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <app-educationattendancemode #educationattendancemode
                [educationattendancemodeID]="personeducationinstitute.educationattendancemode_ID.id"
                [iscompulsory]="true"></app-educationattendancemode>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Receive qualification</label>
                <input type="text" class="form-control" name="recievedqualification" maxlength="500"
                  [(ngModel)]="personeducationinstitute.recievedqualification">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" *ngIf="personeducationinstitute.personinstitute_ID!=0">
              <br /><br />
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="personeducationinstitute.isactive"
                      [(ngModel)]="personeducationinstitute.isactive" [disabled]="disabled" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <button *ngIf="personeducationinstitute.personinstitute_ID!=0 && disabled==true" (click)="editView()"
                id="cancel" class="btn btn-primary" style="float: right;"> Edit
              </button>
              <button *ngIf="disabled==false" type="button" (click)='cancelView()' style="float: right;"
                class="btn btn-light" data-dismiss="modal"> Cancel
              </button>
              <button *ngIf="personeducationinstitute.personinstitute_ID!=0 && disabled==false" type="button"
                data-dismiss="modal" style=" margin-right: 10px; float: right;"
                (click)='personeducationinstituteUpdate(personeducationinstitute)' class="btn btn-primary">
                Update
              </button>
              <button *ngIf="personeducationinstitute.personinstitute_ID==0" type="button" data-dismiss="modal"
                style=" margin-right: 10px; float: right;"
                (click)='personeducationinstituteAdd(personeducationinstitute)' class="btn btn-primary">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>