<div class="collapse-card-h container">
  <div class="row">
    <div class="col-md-12">
      <div class="card-primary card">
        <div class="card-header">
          <div class="align-items-center row">
            <div class="col">
              <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
                class="card-title">Events
              </a>
            </div>
            <div class="col-auto">
              <button (click)="addNew()" class="btn btn-secondary btn-sm">
                <i class="fas fa-plus fa-fw"></i> Add New
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <app-event #event [view]="2" (show)="show($event)"></app-event>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="addevent" role="dialog" tabindex="-1">
  <app-event #addevent [view]=3 (refresh)="refresh()" (cancel)="cancel()"></app-event>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="editevent" role="dialog" tabindex="-1">
  <app-event #editevent [view]=4 (refresh)="refresh()" (cancel)="cancel()"></app-event>
</div>

