<div *ngIf="view==1" class="form-group">
  <label class="custom-label form-label">Person Reference
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row">
    <div class="col-md-10">
      <ng-select [(ngModel)]="referencepersonID" [disabled]="disabled" name="referencepersonID"
        (change)="onChange($event)">
        <ng-option *ngFor="let referenceperson of referencepersons" [value]="referenceperson.referenceperson_ID"
          [disabled]="disabled">
          {{ referenceperson.reference_NAME }} - {{ referenceperson.relationship }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="referencepersonGet()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==11" class="form-group">
  <label class="custom-label form-label">Person Reference
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row">
    <div class="col-md-10" *ngIf="disabled==true">
      <ng-select [(ngModel)]="referencepersonID" [disabled]="disabled" name="referencepersonID"
        (change)="onChange($event)">
        <ng-option *ngFor="let referenceperson of referencepersonsAll" [value]="referenceperson.referenceperson_ID">
          {{ referenceperson.reference_NAME }} - {{ referenceperson.relationship }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled"
        (click)="referencepersonAdvancedSearch(ngOnInit)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==2" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="referencepersonsAll" keyExpr="referenceperson_ID"
        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
        height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>

        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"></dxi-column>
        <dxi-column dataField="reference_NAME" caption="Name" cssClass="myClass" alignment="center"
          [allowEditing]="false"></dxi-column>
        <dxi-column dataField="relationship" caption="Relationship" cssClass="myClass" alignment="center"
          [allowEditing]="false"></dxi-column>
        <dxi-column dataField="person.forenames" caption="Forenames" cssClass="myClass" alignment="left"
          [allowEditing]="false"></dxi-column>
        <dxi-column dataField="address" caption="Address" cssClass="myClass" alignment="center"></dxi-column>
        <dxi-column dataField="ra_POSTCODE" caption="Post Code" cssClass="myClass" alignment="center"></dxi-column>
        <dxi-column dataField="location.location_NAME" caption="Country" cssClass="myClass" alignment="left"
          [allowEditing]="false"></dxi-column>
        <dxi-column dataField="reference_TELEPHONE" caption="Telephone" cssClass="myClass" alignment="center">
        </dxi-column>
        <dxi-column dataField="reference_MOBILENO" caption="Mobile No" cssClass="myClass" alignment="center">
        </dxi-column>
        <dxi-column dataField="reference_EMAIL" caption="Email" cssClass="myClass" alignment="center"></dxi-column>
        <dxi-column dataField="iscontact" caption="Contact" cssClass="myClass" alignment="center"></dxi-column>
        <dxi-column dataField="iskininfo" caption="Kininfo" cssClass="myClass" alignment="center"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center">
        </dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="showView(data)">
            <i class="fa fa-eye" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && referencepersonAdd(referenceperson)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New Reference
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <app-person #person [view]="5"></app-person>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && referencepersonUpdate(referenceperson)" #f="ngForm"
    novalidate>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Reference
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <app-person #person [view]="5"></app-person>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Update
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==5" class="fcorm-group">
  <div class="card-primary card">
    <div class="card-header">
      <div class="align-items-center row">
        <div class="col" *ngIf="referenceperson.referenceperson_ID==0">
          <a href="javascript:void" aria-controls="collapse-referencepersoninfo1" aria-expanded="true"
            class="card-title">Add New Reference
          </a>
        </div>
        <div class="col" *ngIf="referenceperson.referenceperson_ID!=0 && disabled==false">
          <a href="javascript:void" aria-controls="collapse-referencepersoninfo1" aria-expanded="true"
            class="card-title">Edit Reference
          </a>
        </div>
        <div class="col" *ngIf="referenceperson.referenceperson_ID!=0 && disabled==true">
          <a href="javascript:void" aria-controls="collapse-referencepersoninfo1" aria-expanded="true"
            class="card-title">Reference Detail
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <app-person #person [view]="5"></app-person>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="float-right">
                <button *ngIf="referenceperson.referenceperson_ID!=0 && disabled==true" (click)="editView()" id="cancel"
                  class="btn btn-primary" style="float: right;"> Edit
                </button>
                <button *ngIf="disabled==false" type="button" (click)='cancelView()' style="float: right;"
                  class="btn btn-light" data-dismiss="modal"> Cancel
                </button>
                <button *ngIf="referenceperson.referenceperson_ID!=0 && disabled==false" type="button"
                  data-dismiss="modal" style=" margin-right: 10px; float: right;"
                  (click)='referencepersonUpdate(referenceperson)' class="btn btn-primary">
                  Update
                </button>
                <button *ngIf="referenceperson.referenceperson_ID==0" type="button" data-dismiss="modal"
                  style=" margin-right: 10px; float: right;" (click)='referencepersonAdd(referenceperson)'
                  class="btn btn-primary">
                  Save
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="view==6" class="fcorm-group">
  <div class="card-primary card">
    <div class="card-header">
      <div class="align-items-center row">
        <div class="col" *ngIf="referenceperson.referenceperson_ID==0">
          <a href="javascript:void" aria-controls="collapse-referencepersoninfo1" aria-expanded="true"
            class="card-title">Add New Reference Person
          </a>
        </div>
        <div class="col" *ngIf="referenceperson.referenceperson_ID!=0 && disabled==false">
          <a href="javascript:void" aria-controls="collapse-referencepersoninfo1" aria-expanded="true"
            class="card-title">Edit Reference Person
          </a>
        </div>
        <div class="col" *ngIf="referenceperson.referenceperson_ID!=0 && disabled==true">
          <a href="javascript:void" aria-controls="collapse-referencepersoninfo1" aria-expanded="true"
            class="card-title">Reference Person Detail
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="">
            <app-person #person [view]="6"></app-person>
          </div>
          <!-- <app-personcontact [view]="6"></app-personcontact> -->
        </div>
      </div>
    </div>
  </div>
</div>
