<div *ngIf="view==1" class="form-group">
    <label class="custom-label form-label"> Application
        <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row">
        <div class="col-md-10" *ngIf="disabled==true">
            <ng-select [(ngModel)]="applicationID" [disabled]="disabled" name="applicationID">
                <ng-option *ngFor="let application of applicationsAll" [value]="application.application_ID">
                    {{ application.application_CODE }} - {{ application.application_NAME }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-10" *ngIf="disabled==false">
            <ng-select [(ngModel)]="applicationID" [disabled]="disabled" name="applicationID">
                <ng-option *ngFor="let application of applications" [value]="application.application_ID">
                    {{ application.application_CODE }} - {{ application.application_NAME }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="applicationGet()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div *ngIf="view==2" class="form-group">
    <div class="outer-div">
        <div class="grid-wrapper">
            <dx-data-grid #grid id="gridContainer" [dataSource]="applicationsAll" keyExpr="application_ID"
                [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
                height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-selection mode="single"></dxo-selection>

                <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center" cellTemplate="cellTemplate"></dxi-column>
                <dxi-column dataField="applicationtype.description" caption="Application Type" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="application_NAME" caption="Name" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="application_CODE" caption="Code" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="applicationtype.description" caption="Application Type" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="application_SHORTNAME" caption="Short Name" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="application_DESCRIPTION" caption="Description" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="applicationservice_PATH" caption="Service Path" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="applicationpath_FRONTEND" caption="Path Frontend" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="applicationlogo_PATH" caption="Logo Path" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="oauthservice_PATH" caption="Oauth Service Path" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="headername" caption="Header Name" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="projecttitle" caption="Project Title" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="copyrights_YEAR" caption="Copyrights Year" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="companylink" caption="Company Link" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="companyname" caption="Company Name" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column dataField="ispublic" caption="Public" cssClass="myClass" alignment="center"></dxi-column>
                <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:void" class="" (click)="update(data)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>

<div *ngIf="view==3" class="form-group">
    <form action="" class="form" (ngSubmit)="f.form.valid && applicationAdd(application)" #f="ngForm" novalidate>
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add New Application
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"> ×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <app-applicationtype #addapplicationtype  [applicationtypeID]="application.applicationtype_ID"></app-applicationtype>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Code <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="application_CODE"
                                    [(ngModel)]="application.application_CODE" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="application_NAME"
                                    [(ngModel)]="application.application_NAME" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Short Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="application_SHORTNAME"
                                    [(ngModel)]="application.application_SHORTNAME" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Path Frontend <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="applicationpath_FRONTEND" [(ngModel)]="application.applicationpath_FRONTEND"
                                    maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Path Frontend <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="applicationlogo_PATH" [(ngModel)]="application.applicationlogo_PATH" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Service Path <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="applicationservice_PATH" [(ngModel)]="application.applicationservice_PATH" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Oauth Service Path <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="oauthservice_PATH" [(ngModel)]="application.oauthservice_PATH"
                                    maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Header Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="headername" [(ngModel)]="application.headername" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Project Title <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="projecttitle" [(ngModel)]="application.projecttitle" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Copyrights Year <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="copyrights_YEAR" [(ngModel)]="application.copyrights_YEAR"
                                    maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Company Link <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="companylink" [(ngModel)]="application.companylink" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Company Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="companyname" [(ngModel)]="application.companyname" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="application.ispublic" [(ngModel)]="application.ispublic" name="ispublic"> Public
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="view==4" class="form-group">
    <form action="" class="form" (ngSubmit)="f.form.valid && applicationUpdate(application)" #f="ngForm" novalidate>
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Application
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"> ×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <app-applicationtype #editapplicationtype  [applicationtypeID]="application.applicationtype_ID"></app-applicationtype>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Code <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="application_CODE" [(ngModel)]="application.application_CODE" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="application_NAME" [(ngModel)]="application.application_NAME" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Short Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="application_SHORTNAME" [(ngModel)]="application.application_SHORTNAME" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Path Frontend <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="applicationpath_FRONTEND" [(ngModel)]="application.applicationpath_FRONTEND" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Logo Path <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="applicationlogo_PATH" [(ngModel)]="application.applicationlogo_PATH" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Service Path <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="applicationservice_PATH" [(ngModel)]="application.applicationservice_PATH" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Oauth Service Path <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="oauthservice_PATH" [(ngModel)]="application.oauthservice_PATH" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Header Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="headername" [(ngModel)]="application.headername" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Project Title <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="projecttitle" [(ngModel)]="application.projecttitle" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Copyrights Year <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="copyrights_YEAR" [(ngModel)]="application.copyrights_YEAR" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Company Link <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="companylink" [(ngModel)]="application.companylink" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Company Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="companyname" [(ngModel)]="application.companyname" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="application.ispublic" [(ngModel)]="application.ispublic" name="ispublic"> Public
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="application.isactive" [(ngModel)]="application.isactive" name="isactive"> Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                        <i class="fa fa-plus" aria-hidden="true"></i> Update
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="view==5" class="fcorm-group">
    <div class="card-primary card">
        <div class="card-header">
            <div class="align-items-center row">
                <div class="col" *ngIf="application.application_ID==0">
                    <a href="javascript:void" aria-controls="collapse-applicationinfo1" aria-expanded="true"
                        class="card-title">Add New Application
                    </a>
                </div>
                <div class="col" *ngIf="application.application_ID!=0 && disabled==false">
                    <a href="javascript:void" aria-controls="collapse-applicationinfo1" aria-expanded="true"
                        class="card-title">Edit Application
                    </a>
                </div>
                <div class="col" *ngIf="application.application_ID!=0 && disabled==true">
                    <a href="javascript:void" aria-controls="collapse-applicationinfo1" aria-expanded="true"
                        class="card-title">Application Detail
                    </a>
                </div>                                                                                                                                                                                                                                                                   
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-6">
                            <app-applicationtype  #applicationtype  [applicationtypeID]="application.applicationtype_ID" [disabled]="disabled"></app-applicationtype> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Code <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="application_CODE" [(ngModel)]="application.application_CODE" maxlength="50" [disabled]="disabled" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Name <span style="color:red"
                                        [hidden]="disabled">*</span></label>
                                <input type="text" class="form-control" name="application_NAME" [disabled]="disabled"
                                    [(ngModel)]="application.application_NAME" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Short Name <span style="color:red"
                                        [hidden]="disabled">*</span></label>
                                <input type="text" class="form-control" name="application_SHORTNAME" [disabled]="disabled"
                                    [(ngModel)]="application.application_SHORTNAME" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Path Frontend <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="applicationpath_FRONTEND" [disabled]="disabled"
                                    [(ngModel)]="application.applicationpath_FRONTEND" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Logo Path <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="applicationlogo_PATH" [disabled]="disabled"
                                    [(ngModel)]="application.applicationlogo_PATH" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Service Path <span style="color:red"
                                        [hidden]="disabled">*</span></label>
                                <input type="text" class="form-control" name="applicationservice_PATH" [disabled]="disabled"
                                    [(ngModel)]="application.applicationservice_PATH" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Oauth Service Path <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="oauthservice_PATH" [(ngModel)]="application.oauthservice_PATH" maxlength="50" [disabled]="disabled" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Header Name <span style="color:red" [hidden]="disabled">*</span></label>
                                <input type="text" class="form-control" name="headername" [disabled]="disabled" [(ngModel)]="application.headername" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Project Title <span style="color:red" [hidden]="disabled">*</span></label>
                                <input type="text" class="form-control" name="projecttitle" [disabled]="disabled" [(ngModel)]="application.projecttitle" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Copyrights Year <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="copyrights_YEAR" [disabled]="disabled" [(ngModel)]="application.copyrights_YEAR" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Company Link <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="companylink" [disabled]="disabled" [(ngModel)]="application.companylink" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> Company Name <span style="color:red" [hidden]="disabled">*</span></label>
                                <input type="text" class="form-control" name="companyname" [disabled]="disabled" [(ngModel)]="application.companyname" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" *ngIf="application.application_ID!=0">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="application.isactive" [(ngModel)]="application.isactive" [disabled]="disabled" name="isactive">Active
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="application.application_ID!=0">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input type="checkbox" [checked]="application.isactive" [(ngModel)]="application.isactive" [disabled]="disabled" name="isactive"> Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="float-right">
                                <button *ngIf="application.application_ID!=0 && disabled==true" (click)="applicationEdit()"
                                    id="cancel" class="btn btn-primary" style="float: right;"> Edit
                                </button>
                                <button *ngIf="disabled==false" type="button" (click)='applicationCancel()'
                                    style="float: right;" class="btn btn-light" data-dismiss="modal"> Cancel
                                </button>
                                <button *ngIf="application.application_ID!=0 && disabled==false" type="button"
                                    data-dismiss="modal" style=" margin-right: 10px; float: right;"
                                    (click)='applicationUpdate(application)' class="btn btn-primary"> Update
                                </button>
                                <button *ngIf="application.application_ID==0" type="button" data-dismiss="modal"
                                    style=" margin-right: 10px; float: right;" (click)='applicationAdd(application)'
                                    class="btn btn-primary"> Save
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>