<div *ngIf="view==1" class="form-group">
  <label class="custom-label form-label">Company
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="companyID" [disabled]="disabled" name="companyID">
        <ng-option *ngFor="let company of companiesAll" [value]="company.company_ID" [disabled]="disabled">
          {{ company.company_CODE }} - {{ company.company_NAME }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="companyID" [disabled]="disabled" name="companyID" (change)="onChange($event)">
        <ng-option *ngFor="let company of companies" [value]="company.company_ID" [disabled]="disabled">
          {{ company.company_CODE }} - {{ company.company_NAME }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==11" class="form-group">
  <label class="custom-label form-label">Company
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="companyID" [disabled]="disabled" name="companyID">
        <ng-option *ngFor="let company of companiesAll" [value]="company.company_ID" [disabled]="disabled">
          {{ company.company_CODE }} - {{ company.company_NAME }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="companyID" [disabled]="disabled" name="companyID" (change)="onChange($event)">
        <ng-option *ngFor="let company of companies" [value]="company.company_ID" [disabled]="disabled">
          {{ company.company_CODE }} - {{ company.company_NAME }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==2" class="form-group">
  <div class="row">
    <div class="col-lg-12">
      <div class="outer-div">
        <div class="grid-wrapper">
          <dx-data-grid #grid id="gridContainer" [dataSource]="companiesAll" keyExpr="company_ID"
            [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
            [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
            height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
              cellTemplate="cellTemplate"> </dxi-column>
            <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
              cellTemplate="cellTemplateView"> </dxi-column>
            <dxi-column dataField="company_CODE" caption="Code" cssClass="myClass" alignment="center">
            </dxi-column>
            <dxi-column dataField="company_NAME" caption="Company Name" cssClass="myClass" alignment="left">
            </dxi-column>
            <dxi-column dataField="registered_NUMBER" caption="Registered Number" cssClass="myClass" alignment="center">
            </dxi-column>
            <dxi-column dataField="tax_NUMBER" caption="Tax Number" cssClass="myClass" alignment="center">
            </dxi-column>
            <dxi-column dataField="start_DATE" caption="Start Date" cssClass="myClass" alignment="center">
            </dxi-column>
            <dxi-column dataField="end_DATE" caption="End Date" cssClass="myClass" alignment="center">
            </dxi-column>
            <dxi-column dataField="companysubtype.companysubtype_NAME" caption="Company Sub Type" cssClass="myClass"
              alignment="left">
            </dxi-column>
            <dxi-column dataField="companyparent.company_NAME" caption="Parent Company" cssClass="myClass"
              alignment="center">
            </dxi-column>
            <dxi-column dataField="businessnature.description" caption="Business Nature" cssClass="myClass"
              alignment="center"></dxi-column>
            <dxi-column dataField="companystatus.description" caption="Company Status" cssClass="myClass"
              alignment="center"></dxi-column>
            <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center">
            </dxi-column>

            <div *dxTemplate="let data of 'cellTemplate'">
              <a href="javascript:void" class="" (click)="update(data)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </div>
            <div *dxTemplate="let data of 'cellTemplateView'">
              <a href="javascript:void" class="" (click)="showView(data)">
                <i class="fa fa-eye" aria-hidden="true"></i></a>
            </div>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="view==22" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="companiesAll" keyExpr="company_ID" [showColumnLines]="true"
        [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true"
        [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true" height="600" width="100%"
        (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"> </dxi-column>
        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplateView"> </dxi-column>
        <dxi-column dataField="company_CODE" caption="Code" cssClass="myClass" alignment="center">
        </dxi-column>
        <dxi-column dataField="company_NAME" caption="Company Name" cssClass="myClass" alignment="left">
        </dxi-column>
        <dxi-column dataField="registered_NUMBER" caption="Registered Number" cssClass="myClass" alignment="center">
        </dxi-column>
        <dxi-column dataField="tax_NUMBER" caption="Tax Number" cssClass="myClass" alignment="center">
        </dxi-column>
        <dxi-column dataField="start_DATE" caption="Start Date" cssClass="myClass" alignment="center">
        </dxi-column>
        <dxi-column dataField="end_DATE" caption="End Date" cssClass="myClass" alignment="center">
        </dxi-column>
        <dxi-column dataField="companysubtype.companysubtype_NAME" caption="Company Sub Type" cssClass="myClass"
          alignment="left">
        </dxi-column>
        <dxi-column dataField="companyparent.company_NAME" caption="Parent Company" cssClass="myClass"
          alignment="center">
        </dxi-column>
        <dxi-column dataField="businessnature.description" caption="Business Nature" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column dataField="companystatus.description" caption="Company Status" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center">
        </dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="update(data)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
        <div *dxTemplate="let data of 'cellTemplateView'">
          <a href="javascript:void" class="" (click)="showView(data)">
            <i class="fa fa-eye" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && companyAdd(company)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New Company
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Code</label>
                    <span style="color: red;" [hidden]="disabled"> *</span>
                    <input type="text" class="form-control" name="company_CODE" [(ngModel)]="company.company_CODE"
                      required />
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <label class="control-label">Name</label>
                    <span style="color: red;" [hidden]="disabled"> *</span>
                    <input type="text" class="form-control" name="company_NAME" [(ngModel)]="company.company_NAME"
                      required />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label"> Description</label>
                    <textarea rows="3" type="textarea" class="form-control" name="company_DESC" maxlength="500"
                      [(ngModel)]="company.company_DESC"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Registered Number</label>
                    <input type="text" class="form-control" name="registered_NUMBER"
                      [(ngModel)]="company.registered_NUMBER" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Tax Number</label>
                    <input type="text" class="form-control" name="tax_NUMBER" [(ngModel)]="company.tax_NUMBER" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Icon </label>
                <img src="{{ company.companylogo_PATH }}" width="100%" height="100%">
                <input type="file" class="form-control" name="companylogo_PATH" (change)="onFileSelection($event)"
                  required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <app-company #companyparent [disabled]="companyparentDisabled">
              </app-company>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Start Date</label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="date" class="form-control" name="start_DATE" [(ngModel)]="company.start_DATE" required />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">End Date</label>
                <input type="date" class="form-control" name="end_DATE" [(ngModel)]="company.end_DATE" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <app-companysubtype #companysubtype [view]="1" [disabled]="companysubtypeDisabled"
                [companysubtypeID]="companysubtypeID"></app-companysubtype>
            </div>
            <div class="col-md-4">
              <app-businessnature #businessnature [disabled]="businessnatureDisabled">
              </app-businessnature>
            </div>
            <div class="col-md-4">
              <app-companystatus #companystatus [disabled]="companystatusDisabled">
              </app-companystatus>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && companyUpdate(company)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Company
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Code</label>
                    <span style="color: red;" [hidden]="disabled"> *</span>
                    <input type="text" class="form-control" name="company_CODE" [(ngModel)]="company.company_CODE"
                      required />
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <label class="control-label">Name</label>
                    <span style="color: red;" [hidden]="disabled"> *</span>
                    <input type="text" class="form-control" name="company_NAME" [(ngModel)]="company.company_NAME"
                      required />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label"> Description</label>
                    <textarea rows="3" type="textarea" class="form-control" name="company_DESC" maxlength="500"
                      [(ngModel)]="company.company_DESC"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Registered Number</label>
                    <input type="text" class="form-control" name="registered_NUMBER"
                      [(ngModel)]="company.registered_NUMBER" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Tax Number</label>
                    <input type="text" class="form-control" name="tax_NUMBER" [(ngModel)]="company.tax_NUMBER" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Icon </label>
                <img src="{{ company.companylogo_PATH }}" width="100%" height="100%">
                <input type="file" class="form-control" name="companylogo_PATH" (change)="onFileSelection($event)"
                  required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <app-company #companyparent [companyID]="company.companyparent_ID" [disabled]="companyparentDisabled">
              </app-company>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Start Date</label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="date" class="form-control" name="start_DATE" [(ngModel)]="company.start_DATE" required />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">End Date</label>
                <input type="date" class="form-control" name="end_DATE" [(ngModel)]="company.end_DATE" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <app-companysubtype #companysubtype [view]="1" [companysubtypeID]="company.companysubtype_ID"
                [disabled]="companysubtypeDisabled" [companysubtypeID]="companysubtypeID"></app-companysubtype>
            </div>
            <div class="col-md-4">
              <app-businessnature #businessnature [businessnatureID]="company.businessnature_ID"
                [disabled]="businessnatureDisabled">
              </app-businessnature>
            </div>
            <div class="col-md-4">
              <app-companystatus #companystatus [companystatusID]="company.companystatus_ID"
                [disabled]="companystatusDisabled">
              </app-companystatus>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="company.isactive" [(ngModel)]="company.isactive" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Update
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==5" class="fcorm-group">
  <div class="card-primary card">
    <div class="card-header">
      <div class="align-items-center row">
        <div class="col" *ngIf="company.company_ID==0">
          <a href="javascript:void" aria-controls="collapse-companyinfo1" aria-expanded="true" class="card-title">Add
            New Company
          </a>
        </div>
        <div class="col" *ngIf="company.company_ID!=0 && disabled==false">
          <a href="javascript:void" aria-controls="collapse-companyinfo1" aria-expanded="true" class="card-title">Edit
            Company
          </a>
        </div>
        <div class="col" *ngIf="company.company_ID!=0 && disabled==true">
          <a href="javascript:void" aria-controls="collapse-companyinfo1" aria-expanded="true" class="card-title">Blog
            Company Detail
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Code</label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="text" class="form-control" name="company_CODE" [(ngModel)]="company.company_CODE"
                  [disabled]="disabled" required />
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <label class="control-label">Name</label>
                <span style="color: red;" [hidden]="disabled"> *</span>
                <input type="text" class="form-control" name="company_NAME" [(ngModel)]="company.company_NAME"
                  [disabled]="disabled" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"> Description</label>
                <textarea rows="3" type="textarea" class="form-control" name="company_DESC" [disabled]="disabled"
                  [(ngModel)]="company.company_DESC"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Registered Number</label>
                <input type="text" class="form-control" name="registered_NUMBER" [disabled]="disabled"
                  [(ngModel)]="company.registered_NUMBER" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Tax Number</label>
                <input type="text" class="form-control" name="tax_NUMBER" [(ngModel)]="company.tax_NUMBER"
                  [disabled]="disabled" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"> Icon </label>
            <img src="{{ company.companylogo_PATH }}" width="100%" height="100%">
            <input type="file" class="form-control" name="companylogo_PATH" [disabled]="disabled"
              (change)="onFileSelection($event)" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <app-company #companyparent [companyID]="company.companyparent_ID" [disabled]="disabled">
          </app-company>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Start Date</label>
            <span style="color: red;" [hidden]="disabled"> *</span>
            <input type="date" class="form-control" name="start_DATE" [disabled]="disabled"
              [(ngModel)]="company.start_DATE" required />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">End Date</label>
            <input type="date" class="form-control" name="end_DATE" [disabled]="disabled" [(ngModel)]="company.end_DATE"
              required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <app-companysubtype #companysubtype [view]="1" [companysubtypeID]="company.companysubtype_ID"
            [disabled]="companysubtypeDisabled" [companysubtypeID]="companysubtypeID"></app-companysubtype>
        </div>
        <div class="col-md-4">
          <app-businessnature #businessnature [businessnatureID]="company.businessnature_ID"
            [disabled]="businessnatureDisabled">
          </app-businessnature>
        </div>
        <div class="col-md-4">
          <app-companystatus #companystatus [companystatusID]="company.companystatus_ID"
            [disabled]="companystatusDisabled">
          </app-companystatus>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2" *ngIf="company.company_ID!=0">
          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                <input type="checkbox" [checked]="company.isactive" [(ngModel)]="company.isactive" [disabled]="disabled"
                  name="isactive">
                Active
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="float-right">
            <button *ngIf="company.company_ID!=0 && disabled==true" (click)="companyEdit()" id="cancel"
              class="btn btn-primary" style="float: right;"> Edit
            </button>
            <button *ngIf="disabled==false" type="button" (click)='companyCancel()' style="float: right;"
              class="btn btn-light" data-dismiss="modal"> Cancel
            </button>
            <button *ngIf="company.company_ID!=0 && disabled==false" type="button" data-dismiss="modal"
              style=" margin-right: 10px; float: right;" (click)='companyUpdate(company)' class="btn btn-primary">
              Update
            </button>
            <button *ngIf="company.company_ID==0" type="button" data-dismiss="modal"
              style=" margin-right: 10px; float: right;" (click)='companyAdd(company)' class="btn btn-primary">
              Save
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>