<div *ngIf="view==1" class="form-group">
  <label class="custom-label form-label">Institute
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="instituteID" [disabled]="disabled" name="instituteID" (change)="onChange($event)">
        <ng-option *ngFor="let institute of institutesAll" [value]="institute.institute_ID">
          {{institute.institute_CODE}} - {{institute.institute_NAME}}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="instituteID" name="instituteID" (change)="onChange($event)">
        <ng-option *ngFor="let institute of institutes" [value]="institute.institute_ID" [disabled]="disabled">
          {{institute.institute_CODE}} - {{institute.institute_NAME}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==10" class="form-group">
  <label class="custom-label form-label">Institute
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="instituteID" [disabled]="disabled" name="instituteID" (change)="onChange($event)">
        <ng-option *ngFor="let institute of institutesAll" [value]="institute.institute_ID">
          {{institute.institute_CODE}} - {{institute.institute_NAME}}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="instituteID" name="instituteID" (change)="onChange($event)">
        <ng-option *ngFor="let institute of institutesAll" [value]="institute.institute_ID" [disabled]="disabled">
          {{institute.institute_CODE}} - {{institute.institute_NAME}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==11" class="form-group">
  <label class="custom-label form-label">Institute
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="instituteID" [disabled]="disabled" name="instituteID">
        <ng-option *ngFor="let institute of institutesAll" [value]="institute.institute_ID" [disabled]="disabled">
          {{institute.institute_CODE}} - {{institute.institute_NAME}}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="instituteID" [disabled]="disabled" name="instituteID" (change)="onChange($event)">
        <ng-option *ngFor="let institute of institutes" [value]="institute.institute_ID" [disabled]="disabled">
          {{institute.institute_CODE}} - {{institute.institute_NAME}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==19" class="form-group">
  <label class="custom-label form-label">Institute
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="instituteID" [disabled]="disabled" name="instituteID" (change)="onChange($event)">
        <ng-option *ngFor="let institute of institutesAll" [value]="institute.institute_ID" [disabled]="disabled">
          {{institute.institute_CODE}} - {{institute.institute_NAME}}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="instituteID" [disabled]="disabled" name="instituteID" (change)="onChange($event)">
        <ng-option *ngFor="let institute of institutesAll" [value]="institute.institute_ID" [disabled]="disabled">
          {{institute.institute_CODE}} - {{institute.institute_NAME}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==2" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="institutesAll" keyExpr="institute_ID"
        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
        height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"></dxi-column>
        <dxi-column [width]="120" dataField="institute_CODE" caption="Code" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="300" dataField="institute_NAME" caption="Name" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column [width]="500" dataField="address" caption="Address" cssClass="myClass"></dxi-column>
        <dxi-column [width]="130" dataField="address_POSTCODE" caption="Postcode" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="130" dataField="location.location_NAME" caption="Country" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="300" dataField="email" caption="Email" cssClass="myClass" alignment="center">
        </dxi-column>
        <dxi-column [width]="130" dataField="faxno" caption="Fax No" cssClass="myClass" alignment="center">
        </dxi-column>
        <dxi-column [width]="130" dataField="telephone" caption="Telephone" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column dataField="institute_DESCRIPTION" caption="Description" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center">
        </dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="showView(data)">
            <i class="fa fa-eye" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && instituteAdd(institute)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New Institute
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Institute Code <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="institute_CODE" [(ngModel)]="institute.institute_CODE"
                  maxlength="50" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Institute Name <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="institute_NAME" [(ngModel)]="institute.institute_NAME"
                  maxlength="50" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Fax # <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="faxno" [(ngModel)]="institute.faxno" maxlength="50"
                  required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Telephone <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="telephone" [(ngModel)]="institute.telephone"
                  maxlength="50" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Email <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="email" [(ngModel)]="institute.email" maxlength="50"
                  required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Logo Path <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="logo_path" [(ngModel)]="institute.logo_PATH"
                  maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Icon Path <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="email" [(ngModel)]="institute.icon_PATH" maxlength="50"
                  required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Address Postcode <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_postcode" [(ngModel)]="institute.address_POSTCODE"
                  maxlength="50" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Address Line 1 <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_line1" [(ngModel)]="institute.address_LINE1"
                  maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Address Line 2 <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_line2" [(ngModel)]="institute.address_LINE2"
                  maxlength="50" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Address Line 3 <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_line1" [(ngModel)]="institute.address_LINE3"
                  maxlength="50" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Address Line 4 <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_line2" [(ngModel)]="institute.address_LINE4"
                  maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Address Line 5 <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_line5" [(ngModel)]="institute.address_LINE5"
                  maxlength="50" required>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"> Institute Description</label>
                <textarea rows="3" class="form-control" [(ngModel)]="institute.institute_DESCRIPTION"
                  name="institute_DESC"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && instituteUpdate(institute)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Institute
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Institute Code <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="institute_CODE" [(ngModel)]="institute.institute_CODE"
                  maxlength="50" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Institute Name <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="institute_NAME" [(ngModel)]="institute.institute_NAME"
                  maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Fax # <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="faxno" [(ngModel)]="institute.faxno" maxlength="50"
                  required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> telephone <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="telephone" [(ngModel)]="institute.telephone"
                  maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Email <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="email" [(ngModel)]="institute.email" maxlength="50"
                  required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Logo Path </label>
                <input type="text" class="form-control" name="logo_path" [(ngModel)]="institute.logo_PATH"
                  maxlength="50">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Icon Path </label>
                <input type="text" class="form-control" name="email" [(ngModel)]="institute.icon_PATH" maxlength="50">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Address Postcode <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_postcode" [(ngModel)]="institute.address_POSTCODE"
                  maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Address Line 1 <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_line1" [(ngModel)]="institute.address_LINE1"
                  maxlength="50" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Address Line 2 <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_line2" [(ngModel)]="institute.address_LINE2"
                  maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Address Line 3 </label>
                <input type="text" class="form-control" name="address_line1" [(ngModel)]="institute.address_LINE3"
                  maxlength="50">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Address Line 4 </label>
                <input type="text" class="form-control" name="address_line2" [(ngModel)]="institute.address_LINE4"
                  maxlength="50">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Address Line 5 </label>
                <input type="text" class="form-control" name="address_line5" [(ngModel)]="institute.address_LINE5"
                  maxlength="50">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"> Institute Description</label>
                <textarea rows="3" class="form-control" [(ngModel)]="institute.institute_DESCRIPTION"
                  name="institute_DESC"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="institute.isactive" [(ngModel)]="institute.isactive"
                      name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Update
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==5" class="fcorm-group">
  <div class="card-primary card">
    <div class="card-header">
      <div class="align-items-center row">
        <div class="col" *ngIf="institute.institute_ID==0">
          <a href="javascript:void" aria-controls="collapse-instituteinfo1" aria-expanded="true" class="card-title">Add
            New Institute
          </a>
        </div>
        <div class="col" *ngIf="institute.institute_ID!=0 && disabled==false">
          <a href="javascript:void" aria-controls="collapse-instituteinfo1" aria-expanded="true" class="card-title">Edit
            Institute
          </a>
        </div>
        <div class="col" *ngIf="institute.institute_ID!=0 && disabled==true">
          <a href="javascript:void" aria-controls="collapse-instituteinfo1" aria-expanded="true"
            class="card-title">Institute Detail
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Institute Code <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="institute_CODE" [(ngModel)]="institute.institute_CODE"
                  maxlength="50" [disabled]="disabled" required>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label class="control-label"> Institute Name <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="institute_NAME" [(ngModel)]="institute.institute_NAME"
                  maxlength="50" [disabled]="disabled" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"> Institute Description</label>
                <textarea rows="3" class="form-control" [(ngModel)]="institute.institute_DESCRIPTION"
                  name="institute_DESC" [disabled]="disabled"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <app-locationsearchfilter #locationsearchfilter [view]="3" [disabled]="disabled"
                [locationID]="institute.location_ID"></app-locationsearchfilter>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Address Line 1 <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_line1" [(ngModel)]="institute.address_LINE1"
                  maxlength="50" [disabled]="disabled" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Address Line 2 </label>
                <input type="text" class="form-control" name="address_line2" [(ngModel)]="institute.address_LINE2"
                  maxlength="50" [disabled]="disabled">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Address Line 3 </label>
                <input type="text" class="form-control" name="address_line1" [(ngModel)]="institute.address_LINE3"
                  maxlength="50" [disabled]="disabled">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Address Line 4 </label>
                <input type="text" class="form-control" name="address_line2" [(ngModel)]="institute.address_LINE4"
                  maxlength="50" [disabled]="disabled">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Address Line 5 </label>
                <input type="text" class="form-control" name="address_line5" [(ngModel)]="institute.address_LINE5"
                  maxlength="50" [disabled]="disabled">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Postcode <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_postcode" [(ngModel)]="institute.address_POSTCODE"
                  maxlength="50" [disabled]="disabled" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Telephone <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="telephone" [(ngModel)]="institute.telephone"
                  maxlength="50" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Email <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="email" [(ngModel)]="institute.email" maxlength="50"
                  required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Fax # <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="faxno" [(ngModel)]="institute.faxno" maxlength="50"
                  required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" *ngIf="institute.institute_ID!=0">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="institute.isactive" [(ngModel)]="institute.isactive"
                      [disabled]="disabled" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="float-right">
                <button *ngIf="institute.institute_ID!=0 && disabled==true" (click)="editView()" id="cancel"
                  class="btn btn-primary" style="float: right;"> Edit
                </button>
                <button *ngIf="disabled==false" type="button" (click)='cancelView()' style="float: right;"
                  class="btn btn-light" data-dismiss="modal"> Cancel
                </button>
                <button *ngIf="institute.institute_ID!=0 && disabled==false" type="button" data-dismiss="modal"
                  style=" margin-right: 10px; float: right;" (click)='instituteUpdate(institute)'
                  class="btn btn-primary">
                  Update
                </button>
                <button *ngIf="institute.institute_ID==0" type="button" data-dismiss="modal"
                  style=" margin-right: 10px; float: right;" (click)='instituteAdd(institute)' class="btn btn-primary">
                  Save
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
