<div *ngIf="view==1" class="form-group">
  <label class="custom-label form-label">Person Employment
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personemploymentID" [disabled]="disabled" name="personemploymentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personemployment of personemploymentsAll" [value]="personemployment.personemployment_ID">
          {{ personemployment.employer_NAME }} - {{ personemployment.job_DESCRIPTION }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personemploymentID" name="personemploymentID" (change)="onChange($event)">
        <ng-option *ngFor="let personemployment of personemployments" [value]="personemployment.personemployment_ID"
          [disabled]="disabled">
          {{ personemployment.employer_NAME }} - {{ personemployment.job_DESCRIPTION }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>


<div *ngIf="view==10" class="form-group">
  <label class="custom-label form-label">Person Employment
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personemploymentID" [disabled]="disabled" name="personemploymentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personemployment of personemploymentsAll" [value]="personemployment.personemployment_ID">
          {{ personemployment.employer_NAME }} - {{ personemployment.job_DESCRIPTION }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personemploymentID" name="personemploymentID" (change)="onChange($event)">
        <ng-option *ngFor="let personemployment of personemploymentsAll" [value]="personemployment.personemployment_ID"
          [disabled]="disabled">
          {{ personemployment.employer_NAME }} - {{ personemployment.job_DESCRIPTION }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==11" class="form-group">
  <label class="custom-label form-label">Person Employment
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personemploymentID" [disabled]="disabled" name="personemploymentID">
        <ng-option *ngFor="let personemployment of personemploymentsAll" [value]="personemployment.personemployment_ID"
          [disabled]="disabled">
          {{ personemployment.employer_NAME }} - {{ personemployment.job_DESCRIPTION }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personemploymentID" [disabled]="disabled" name="personemploymentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personemployment of personemployments" [value]="personemployment.personemployment_ID"
          [disabled]="disabled">
          {{ personemployment.employer_NAME }} - {{ personemployment.job_DESCRIPTION }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==19" class="form-group">
  <label class="custom-label form-label">Person Employment
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="personemploymentID" [disabled]="disabled" name="personemploymentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personemployment of personemploymentsAll" [value]="personemployment.personemployment_ID"
          [disabled]="disabled">
          {{ personemployment.employer_NAME }} - {{ personemployment.job_DESCRIPTION }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="personemploymentID" [disabled]="disabled" name="personemploymentID"
        (change)="onChange($event)">
        <ng-option *ngFor="let personemployment of personemploymentsAll" [value]="personemployment.personemployment_ID"
          [disabled]="disabled">
          {{ personemployment.employer_NAME }} - {{ personemployment.job_DESCRIPTION }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>


<div *ngIf="view==2" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="personemploymentsAll" keyExpr="personemployment_ID"
        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
        height="400" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>

        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"></dxi-column>
        <dxi-column dataField="organizationtype_ID.description" caption="Organization Type" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="organizationsector_ID.description" caption="Organization Sector" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="organizationcategory_ID.description" caption="Organization Category" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="employer_NAME" caption="Name" cssClass="myClass" alignment="center"
          [allowEditing]="false"></dxi-column>
        <dxi-column dataField="job_DESCRIPTION" caption="Job Description" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="500" dataField="address" caption="Address" cssClass="myClass"></dxi-column>
        <dxi-column [width]="130" dataField="address_POSTCODE" caption="Postcode" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="130" dataField="location.location_NAME" caption="Country" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="130" dataField="contact_NUMBER" caption="Contact No" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="300" dataField="office_EMAIL" caption="Email" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="130" dataField="website" caption="Website" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column dataField="startdate" caption="Start Date" cssClass="myClass" alignment="center"
          [allowEditing]="false"></dxi-column>
        <dxi-column dataField="enddate" caption="End Date" cssClass="myClass" alignment="center"
          [allowEditing]="false"></dxi-column>
        <dxi-column dataField="worktype_ID.description" caption="Work Type" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="workfield_ID.description" caption="Work Field" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="careerlevel_ID.description" caption="Career Level" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center">
        </dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="showView(data)">
            <i class="fa fa-eye" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==22" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="personemploymentsAll" keyExpr="personemployment_ID"
        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
        height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"></dxi-column>

        <dxi-column dataField="organizationtype_ID.description" caption="Organization Type" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="organizationsector_ID.description" caption="Organization Sector" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="organizationcategory_ID.description" caption="Organization Category" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="employer_NAME" caption="Name" cssClass="myClass" alignment="center"
          [allowEditing]="false"></dxi-column>
        <dxi-column dataField="job_DESCRIPTION" caption="Job Description" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="500" dataField="address" caption="Address" cssClass="myClass"></dxi-column>
        <dxi-column [width]="130" dataField="address_POSTCODE" caption="Postcode" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="130" dataField="location.location_NAME" caption="Country" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="130" dataField="contact_NUMBER" caption="Contact No" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="300" dataField="office_EMAIL" caption="Email" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column [width]="130" dataField="website" caption="Website" cssClass="myClass"
          alignment="center"></dxi-column>
        <dxi-column dataField="startdate" caption="Start Date" cssClass="myClass" alignment="center"
          [allowEditing]="false"></dxi-column>
        <dxi-column dataField="enddate" caption="End Date" cssClass="myClass" alignment="center"
          [allowEditing]="false"></dxi-column>
        <dxi-column dataField="worktype_ID.description" caption="Work Type" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="workfield_ID.description" caption="Work Field" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="careerlevel_ID.description" caption="Career Level" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center">
        </dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="showView(data)">
            <i class="fa fa-eye" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && personemploymentAdd(personemployment)" #f="ngForm"
    novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <app-organizationtype #organizationtype [iscompulsory]="true"></app-organizationtype>
        </div>
        <div class="col-md-4">
          <app-organizationsector #organizationsector [iscompulsory]="true"></app-organizationsector>
        </div>
        <div class="col-md-4">
          <app-organizationcategory #organizationcategory [iscompulsory]="true"></app-organizationcategory>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label"> Employer Name <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="employer_NAME" [(ngModel)]="personemployment.employer_NAME"
              maxlength="50" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label"> Job Description </label>
            <textarea type="text" class="form-control" name="job_DESCRIPTION"
              [(ngModel)]="personemployment.job_DESCRIPTION" maxlength="50"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"> Address Line 1 <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="address_line1" [(ngModel)]="personemployment.address_LINE1"
              maxlength="50" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"> Address Line 2 <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="address_line2" [(ngModel)]="personemployment.address_LINE2"
              maxlength="50" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Address Line 3 <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="address_line3" [(ngModel)]="personemployment.address_LINE3"
              maxlength="50" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"> Address Line 4 <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="address_line4" [(ngModel)]="personemployment.address_LINE4"
              maxlength="50" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"> Address Line 5 <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="address_line5" [(ngModel)]="personemployment.address_LINE5"
              maxlength="50" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"> Address Postcode <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="address_postcode"
              [(ngModel)]="personemployment.address_POSTCODE" maxlength="50" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Contact No <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="contact_NUMBER" [(ngModel)]="personemployment.contact_NUMBER"
              maxlength="50" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Email <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="office_EMAIL" [(ngModel)]="personemployment.office_EMAIL"
              maxlength="50" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Website <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="website" [(ngModel)]="personemployment.website" maxlength="50"
              required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label"> Start Date </label>
            <input type="date" class="form-control" name="startdate" [(ngModel)]="personemployment.startdate"
              maxlength="50">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label"> End Date </label>
            <input type="date" class="form-control" name="enddate" [(ngModel)]="personemployment.enddate"
              maxlength="50">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <app-worktype #worktype [iscompulsory]="true"></app-worktype>
        </div>
        <div class="col-md-4">
          <app-workfield #workfield [iscompulsory]="true"></app-workfield>
        </div>
        <div class="col-md-4">
          <app-careerlevel #careerlevel [iscompulsory]="true"></app-careerlevel>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        <i class="fa fa-plus" aria-hidden="true"></i> Add
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && personemploymentUpdate(personemployment)" #f="ngForm"
    novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <app-organizationtype #organizationtype [iscompulsory]="true"></app-organizationtype>
        </div>
        <div class="col-md-4">
          <app-organizationsector #organizationsectord [iscompulsory]="true"></app-organizationsector>
        </div>
        <div class="col-md-4">
          <app-organizationcategory #organizationcategory [iscompulsory]="true"></app-organizationcategory>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label"> Employer Name <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="employer_NAME" [(ngModel)]="personemployment.employer_NAME"
              maxlength="50" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label"> Job Description </label>
            <input type="text" class="form-control" name="job_DESCRIPTION"
              [(ngModel)]="personemployment.job_DESCRIPTION" maxlength="50">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Address Line 1 <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="address_line1" [(ngModel)]="personemployment.address_LINE1"
              maxlength="50" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"> Address Line 2 <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="address_line2" [(ngModel)]="personemployment.address_LINE2"
              maxlength="50" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Address Line 3 </label>
            <input type="text" class="form-control" name="address_line3" [(ngModel)]="personemployment.address_LINE3"
              maxlength="50">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label"> Address Line 4 </label>
            <input type="text" class="form-control" name="address_line4" [(ngModel)]="personemployment.address_LINE4"
              maxlength="50">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Address Line 5 </label>
            <input type="text" class="form-control" name="address_line5" [(ngModel)]="personemployment.address_LINE5"
              maxlength="50">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label"> Address Postcode <span style="color:red">*</span></label>
            <input type="text" class="form-control" name="address_postcode"
              [(ngModel)]="personemployment.address_POSTCODE" maxlength="50" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label"> Start Date </label>
            <input type="date" class="form-control" name="startdate" [(ngModel)]="personemployment.startdate"
              maxlength="50">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label"> End Date </label>
            <input type="date" class="form-control" name="enddate" [(ngModel)]="personemployment.enddate"
              maxlength="50">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Contact No </label>
            <input type="text" class="form-control" name="contact_NUMBER" [(ngModel)]="personemployment.contact_NUMBER"
              maxlength="50">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Email </label>
            <input type="text" class="form-control" name="office_EMAIL" [(ngModel)]="personemployment.office_EMAIL"
              maxlength="50">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Website </label>
            <input type="text" class="form-control" name="website" [(ngModel)]="personemployment.website"
              maxlength="50">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <app-worktype #worktype [iscompulsory]="true"></app-worktype>
        </div>
        <div class="col-md-4">
          <app-workfield #workfield [iscompulsory]="true"></app-workfield>
        </div>
        <div class="col-md-4">
          <app-careerlevel #careerlevel [iscompulsory]="true"></app-careerlevel>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                <input type="checkbox" [checked]="personemployment.isactive" [(ngModel)]="personemployment.isactive"
                  name="isactive">
                Active
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        <i class="fa fa-plus" aria-hidden="true"></i> Update
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </form>
</div>

<div *ngIf="view==5" class="fcorm-group">
  <div class="card-primary card">
    <div class="card-header">
      <div class="align-items-center row">
        <div class="col" *ngIf="personemployment.personemployment_ID==0">
          <a href="javascript:void" aria-controls="collapse-personemploymentinfo1" aria-expanded="true"
            class="card-title">Add New Employment
          </a>
        </div>
        <div class="col" *ngIf="personemployment.personemployment_ID!=0 && disabled==false">
          <a href="javascript:void" aria-controls="collapse-personemploymentinfo1" aria-expanded="true"
            class="card-title">Edit Employment
          </a>
        </div>
        <div class="col" *ngIf="personemployment.personemployment_ID!=0 && disabled==true">
          <a href="javascript:void" aria-controls="collapse-personemploymentinfo1" aria-expanded="true"
            class="card-title">Employment Detail
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <app-organizationtype #organizationtype [disabled]="disabled"></app-organizationtype>
            </div>
            <div class="col-md-4">
              <app-organizationsector #organizationsector [disabled]="disabled"></app-organizationsector>
            </div>
            <div class="col-md-4">
              <app-organizationcategory #organizationcategory [disabled]="disabled"></app-organizationcategory>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"> Employer Name <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="employer_NAME"
                  [(ngModel)]="personemployment.employer_NAME" maxlength="50" [disabled]="disabled" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"> Job Description </label>
                <textarea rows="3" type="text" class="form-control" name="job_DESCRIPTION"
                  [(ngModel)]="personemployment.job_DESCRIPTION" [disabled]="disabled" maxlength="50"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <app-locationsearchfilter #locationsearchfilter [view]="3" [disabled]="disabled"
                [locationID]="personemployment.location_ID"></app-locationsearchfilter>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Address Line 1 <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_line1"
                  [(ngModel)]="personemployment.address_LINE1" maxlength="50" [disabled]="disabled" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Address Line 2 </label>
                <input type="text" class="form-control" name="address_line2"
                  [(ngModel)]="personemployment.address_LINE2" maxlength="50" [disabled]="disabled">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Address Line 3 </label>
                <input type="text" class="form-control" name="address_line1"
                  [(ngModel)]="personemployment.address_LINE3" maxlength="50" [disabled]="disabled">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Address Line 4 </label>
                <input type="text" class="form-control" name="address_line2"
                  [(ngModel)]="personemployment.address_LINE4" maxlength="50" [disabled]="disabled">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Address Line 5 </label>
                <input type="text" class="form-control" name="address_line5"
                  [(ngModel)]="personemployment.address_LINE5" maxlength="50" [disabled]="disabled">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Postcode <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="address_postcode"
                  [(ngModel)]="personemployment.address_POSTCODE" maxlength="50" [disabled]="disabled" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Contact No. <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="contact_number"
                  [(ngModel)]="personemployment.contact_NUMBER" maxlength="50" [disabled]="disabled" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Office Email<span style="color:red">*</span></label>
                <input type="text" class="form-control" name="office_EMAIL" [(ngModel)]="personemployment.office_EMAIL"
                  maxlength="50" [disabled]="disabled" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Website </label>
                <input type="text" class="form-control" name="website" [(ngModel)]="personemployment.website"
                  maxlength="50" [disabled]="disabled">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Start Date </label>
                <input type="date" class="form-control" name="startdate" [(ngModel)]="personemployment.startdate"
                  [disabled]="disabled" maxlength="50">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> End Date </label>
                <input type="date" class="form-control" name="enddate" [(ngModel)]="personemployment.enddate"
                  [disabled]="disabled" maxlength="50">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <app-worktype #worktype [disabled]="disabled"></app-worktype>
            </div>
            <div class="col-md-4">
              <app-workfield #workfield [disabled]="disabled"></app-workfield>
            </div>
            <div class="col-md-4">
              <app-careerlevel #careerlevel [disabled]="disabled"></app-careerlevel>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" *ngIf="personemployment.personemployment_ID!=0">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="personemployment.isactive" [(ngModel)]="personemployment.isactive"
                      [disabled]="disabled" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="float-right">
                <button *ngIf="personemployment.personemployment_ID!=0 && disabled==true" (click)="editView()"
                  id="cancel" class="btn btn-primary" style="float: right;"> Edit
                </button>
                <button *ngIf="disabled==false" type="button" (click)='cancelView()' style="float: right;"
                  class="btn btn-light" data-dismiss="modal"> Cancel
                </button>
                <button *ngIf="personemployment.personemployment_ID!=0 && disabled==false" type="button"
                  data-dismiss="modal" style=" margin-right: 10px; float: right;"
                  (click)='personemploymentUpdate(personemployment)' class="btn btn-primary">
                  Update
                </button>
                <button *ngIf="personemployment.personemployment_ID==0" type="button" data-dismiss="modal"
                  style=" margin-right: 10px; float: right;" (click)='personemploymentAdd(personemployment)'
                  class="btn btn-primary">
                  Save
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
